<ion-header id='header'>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode='md'></ion-back-button>
    </ion-buttons>
    <ion-title class="PageTitle">H-Factor Indexes</ion-title>
  </ion-toolbar>
  <div id="Loader" class='loader'>
    <img src="../../assets/images/NAA.gif" alt="Loader" height="50">
  </div>
</ion-header>
<ion-content>
  <div id="parentdiv">
    <div class="Section1">
      <p class="PageSubTitle">Performance</p>
      <p *ngIf="selectedIndexData" class="PageSubTitle p-font">As of {{selectedIndexData.date}}</p>
    </div>

    <div id="sec2" class="Section2">
      <!-- <div class="InnerDiv"> -->
        <div [id]=replaceId(item) class="ItemDiv" *ngFor="let item of CountryClasificationList">
          <ion-card class="ItemCard" [id]=replaceIdCard(item) [ngClass]="{ActiveItem: item == selectedCountry}" (click)="OnItemClick(item)">
            <ion-card-content class="ItemCardContent">
              <ion-text class="ItemTitleText">
                <h1 class="ItemTitle">{{item}}</h1>
              </ion-text>
              <div *ngIf="item == selectedCountry && itemActive">
                <ion-text class="indexText"><span>Index</span></ion-text>
                <img src="../../assets/images/chevron-forward-sharp.svg" alt="forword" 
                  class="arrow blink_me">
              </div>
            </ion-card-content>
          </ion-card>
        </div>
      <!-- </div> -->
    </div>

    <div *ngIf="selectedIndex" class="descDiv">
      <h1>
        {{selectedIndex.indexName}}
      </h1>
      <p>
        {{selectedIndexData.description}}</p>
    </div>

    <div *ngIf="selectedIndexData && selectedIndex" class="detailsOuterDiv">
      <div id="IndexDataInnerDiv">
        <ion-card id="value" class="itemRowCard">
          <ion-card-content class="itemRowCardContent">
            <ion-text class="itemRowText">
              <p class="TitleP">Value</p>
              <p class="valueP">{{roundValue(selectedIndexData.value)}}</p>
            </ion-text>
          </ion-card-content>
        </ion-card>
        <ion-card id="dailyReturn" class="itemRowCard">
          <ion-card-content class="itemRowCardContent">
            <ion-text class="itemRowText">
              <p class="TitleP">Daily</p>
              <p class="valueP">{{roundValue(selectedIndexData.dailyReturn*100)}}%</p>
            </ion-text>
          </ion-card-content>
        </ion-card>
        <ion-card id="ytdReturn" class="itemRowCard">
          <ion-card-content class="itemRowCardContent">
            <ion-text class="itemRowText">
              <p class="TitleP">YTD</p>
              <p class="valueP">{{roundValue(selectedIndexData.ytdReturn*100)}}%</p>
            </ion-text>
          </ion-card-content>
        </ion-card>
        <ion-card id="y1Return" class="itemRowCard">
          <ion-card-content class="itemRowCardContent">
            <ion-text class="itemRowText">
              <p class="TitleP">1 Year</p>
              <p class="valueP">{{roundValue(selectedIndexData.y1Return*100)}}%</p>
            </ion-text>
          </ion-card-content>
        </ion-card>
        <ion-card id="y3Return" class="itemRowCard">
          <ion-card-content class="itemRowCardContent">
            <ion-text class="itemRowText">
              <p class="TitleP">3 Year*</p>
              <p class="valueP">{{roundValue(selectedIndexData.y3Return*100)}}%</p>
            </ion-text>
          </ion-card-content>
        </ion-card>
        <ion-card id="y5Return" class="itemRowCard">
          <ion-card-content class="itemRowCardContent">
            <ion-text class="itemRowText">
              <p class="TitleP">5 Year*</p>
              <p class="valueP">{{roundValue(selectedIndexData.y5Return*100)}}%</p>
            </ion-text>
          </ion-card-content>
        </ion-card>
        <ion-card id="y10Return" class="itemRowCard">
          <ion-card-content class="itemRowCardContent">
            <ion-text class="itemRowText">
              <p class="TitleP">10 Year*</p>
              <p class="valueP">{{roundValue(selectedIndexData.y10Return*100)}}%</p>
            </ion-text>
          </ion-card-content>
        </ion-card>
        <ion-card id="cumReturns" class="itemRowCard">
          <ion-card-content class="itemRowCardContent">
            <ion-text class="itemRowText">
              <p class="TitleP">Cumulative Inception</p>
              <p class="valueP">{{roundValue(selectedIndexData.cumReturns*100)}}%</p>
            </ion-text>
          </ion-card-content>
        </ion-card>
        <ion-card id="annReturns" class="itemRowCard">
          <ion-card-content class="itemRowCardContent">
            <ion-text class="itemRowText">
              <p class="TitleP">Annualized Inception</p>
              <p class="valueP">{{roundValue(selectedIndexData.annReturns*100)}}%</p>
            </ion-text>
          </ion-card-content>
        </ion-card>
        <ion-card id="year1" class="itemRowCard">
          <ion-card-content class="itemRowCardContent">
            <ion-text class="itemRowText">
              <p class="TitleP">2019</p>
              <p class="valueP">{{roundValue(selectedIndexData.year1*100)}}%</p>
            </ion-text>
          </ion-card-content>
        </ion-card>
        <ion-card id="year2" class="itemRowCard">
          <ion-card-content class="itemRowCardContent">
            <ion-text class="itemRowText">
              <p class="TitleP">2018</p>
              <p class="valueP">{{roundValue(selectedIndexData.year2*100)}}%</p>
            </ion-text>
          </ion-card-content>
        </ion-card>
        <ion-card id="year3" class="itemRowCard">
          <ion-card-content class="itemRowCardContent">
            <ion-text class="itemRowText">
              <p class="TitleP">2017</p>
              <p class="valueP">{{roundValue(selectedIndexData.year3*100)}}%</p>
            </ion-text>
          </ion-card-content>
        </ion-card>
        <ion-card id="year4" class="itemRowCard">
          <ion-card-content class="itemRowCardContent">
            <ion-text class="itemRowText">
              <p class="TitleP">2016</p>
              <p class="valueP">{{roundValue(selectedIndexData.year4*100)}}%</p>
            </ion-text>
          </ion-card-content>
        </ion-card>
        <ion-card id="year5" class="itemRowCard">
          <ion-card-content class="itemRowCardContent">
            <ion-text class="itemRowText">
              <p class="TitleP">2015</p>
              <p class="valueP">{{roundValue(selectedIndexData.year5*100)}}%</p>
            </ion-text>
          </ion-card-content>
        </ion-card>
        <ion-card id="year6" class="itemRowCard">
          <ion-card-content class="itemRowCardContent">
            <ion-text class="itemRowText">
              <p class="TitleP">2014</p>
              <p class="valueP">{{roundValue(selectedIndexData.year6*100)}}%</p>
            </ion-text>
          </ion-card-content>
        </ion-card>
        <ion-card id="year7" class="itemRowCard">
          <ion-card-content class="itemRowCardContent">
            <ion-text class="itemRowText">
              <p class="TitleP">2013</p>
              <p class="valueP">{{roundValue(selectedIndexData.year7*100)}}%</p>
            </ion-text>
          </ion-card-content>
        </ion-card>
        <ion-card id="year8" class="itemRowCard">
          <ion-card-content class="itemRowCardContent">
            <ion-text class="itemRowText">
              <p class="TitleP">2012</p>
              <p class="valueP">{{roundValue(selectedIndexData.year8*100)}}%</p>
            </ion-text>
          </ion-card-content>
        </ion-card>
        <ion-card id="year9" class="itemRowCard">
          <ion-card-content class="itemRowCardContent">
            <ion-text class="itemRowText">
              <p class="TitleP">2011</p>
              <p class="valueP">{{roundValue(selectedIndexData.year9*100)}}%</p>
            </ion-text>
          </ion-card-content>
        </ion-card>
        <ion-card id="year10" class="itemRowCard">
          <ion-card-content class="itemRowCardContent">
            <ion-text class="itemRowText">
              <p class="TitleP">2010</p>
              <p class="valueP">{{roundValue(selectedIndexData.year10*100)}}%</p>
            </ion-text>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </div>
  <div class="dateDiv">
    <div *ngIf="selectedIndexData">
      <p>First Value Date: <span>{{selectedIndexData.firstValueDt}}</span></p>
    </div>
    <div *ngIf="selectedIndexData">
      <p>Launch Date: <span>{{selectedIndexData.inception}}</span></p>
    </div>
  </div>
  <div class="bottomText">
    <p>Calculated by S&P Dow Jones Indices</p>
  </div>
  <div id='BottomCardDiv' class="bottomcard-Div">
    <div>
      <div class="cancelDiv">
        <ion-button (click)="onCancelClick()" size='small' fill="clear"
          shape="round">
          Cancel
        </ion-button>
      </div>
      <div class="TitleDiv">
        <div>
          <h1>{{selectedCountry}}</h1>
        </div>
        <div>
          <p>Please select the Index</p>
        </div>
      </div>
    </div>
    
    <ion-card id="IndexListCard" class="BottomCard">
      <ion-card-content>
        <ion-list>
          <ion-radio-group (ionChange)='onIndexChange($event)'>
            <ion-item lines='none' *ngFor="let item of Index[CountryClasificationList.indexOf(selectedCountry)]">
              <ion-label>{{item.indexName}}</ion-label>
              <ion-radio slot="start" mode="md" [value]="item.indexName"></ion-radio>
            </ion-item>
          </ion-radio-group>

        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>