<ion-header>
  <ion-toolbar>
    <ion-title>performance</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment value="performance" scrollable mode="md">
    <ion-segment-button value="All">
      <ion-label>All</ion-label>
    </ion-segment-button>
    <ion-segment-button value="USA">
      <ion-label>USA</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Europe">
        <ion-label>Europe</ion-label>
      </ion-segment-button>
      <ion-segment-button value="UK">
          <ion-label>UK</ion-label>
        </ion-segment-button>
        <ion-segment-button value="Japan">
            <ion-label>Japan</ion-label>
          </ion-segment-button>
          <ion-segment-button value="Dev. World">
              <ion-label>Dev. World</ion-label>
            </ion-segment-button>
            <ion-segment-button value="Dev. World ex US">
                <ion-label>Dev. world ex US</ion-label>
              </ion-segment-button>
  </ion-segment>
</ion-content>