ion-header{
    z-index: 99;
}
ion-content{
    --background: #d3d8dc;
    --overflow: hidden;
}

.Section1{
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    
}

.PageTitle{
    text-align: left;
    padding: 0px 45px;
    font-size: 18px;
    color: #2b468f;
}

.PageSubTitle{
    margin: 0px; 
    color: #666; 
    font-size: 15px;
}

.p-font{
    font-size: 12px;
}

.Section2{
    padding: 10px 10px; 
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    -ms-overflow-style: none;
    

    &::after {
        content: '';
        padding-right: 10px;
      }
}

.indexText{
    color: white;
    padding-right: 5px; 
    float: left;
}

.Section2::-webkit-scrollbar {
    display: none;
}

.InnerDiv{
    display: inline-flex; 
    flex-direction: row;
}

.ItemDiv{
    margin: 0 5px 0 5px;
}

.ItemCard{
    background-color: #ffffff;
    margin: 0px;
    width: 130px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: none;
}

.ItemCardContent{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.ItemTitle{
    font-size: 18px;
}

.ItemTitleText{
    color: #2b468f;
}

.ActiveItem{
    background: linear-gradient(-90deg,#2E4C99, #233771);
    width: 340px;
    // height: 150px;
    transition: 0.3s;
    display: flex;
}

.ActiveItem ion-text{
    color: #ffffff;
}

.ActiveItem h1{
    //padding: 10px 0 0 0;
    font-size: 22px;
}

ion-select .select-text{
    min-width: 275px;
}

.descDiv{
    padding: 0 15px;

    h1{
        margin: 0px;
    color: #666;
    font-size: 14px;
    font-weight: bold;
    }

    p{
        font-size: 12px;
        text-align: justify; 
        color: #666; 
        line-height: 1.4; 
        white-space: normal; 
        display: -webkit-box; 
        -webkit-line-clamp: 3; 
        -webkit-box-orient: vertical; 
        overflow: hidden;
    }
}

.detailsOuterDiv{
    padding: 5px 0px 5px 0px;

    div{
        overflow: auto;
        height: calc(100vh - 249px);
        -ms-overflow-style: none;
    }

    div::-webkit-scrollbar {
        display: none;
      }
}

.dataCard{
    background-color: white; 
    height: calc(100vh - 200px);
    margin: 0px;
}

.ActiveCard{
    height: calc(100vh - 275px);
}

.loader{
    position: fixed;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.85);
}



.blink_me {
    animation: blinker 1s linear infinite;
  }
  
  @keyframes blinker {  
    50% { opacity: 0; }
  }

// :host{
//     background: #d3d8dc;
// }

// ion-app{
//     background: #d3d8dc;
// }
ion-toolbar{
    --background: #d3d8dc;
    --border-width: 0px !important;
    --padding-top: 0px;
    --padding-bottom: 0px;
}

.bottomcard-Div{
    position: absolute; 
    z-index: 9999; 
    top: 0; 
    width: 100%; 
    height: 100%; 
    background: linear-gradient(-90deg, #2E4C99, #233771);
    display: none;
    opacity: 0;
    transition: .4s;
}

.BottomCard{
    margin: 0px;
    bottom: 0;
    background: white;
    border-radius: 30px 30px 0 0;
    position: absolute;
    /* top: 100px; */
    overflow: auto;
    transition: 1s;
    //max-height: 550px;
    max-height: 400px;
    width: 100%;
    -ms-overflow-style: none;

    ion-label{
        white-space: normal;
    }
}

.BottomCard::-webkit-scrollbar {
    display: none;
  }

.bottomCardScrollUp{
    max-height: 600px !important;
}

.itemRowCardContent{
    background-color: #fff
}

.itemRowText{
    color:#000;
    display: flex;
    justify-content: space-between;
}

.itemRowCard{
    margin: 10px 15px;
    // transition: 1s;
    border-radius: 8px;
    -webkit-border-radius: 8px; 
    display: none;
}

.valueP{
    color: #2b468f;
    font-size: 16px;
    font-weight: 500;
}

.TitleP{
    color: #666;
    font-weight: 500;
}

.arrow{
    width: 20px;
    vertical-align: middle;
}

.cancelDiv{
    text-align: right; 
    margin: 10px 0px 0 0;

    ion-button{
        color: white; 
        font-size: 15px;
    }
}

.TitleDiv{
    padding: 25px 15px;

    h1{
        color: white; 
        font-weight: bold; 
        font-size: 30px;
    }

    p{
        color: white; 
        font-size: 16px;
    }
}