.searchDiv{
  justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 20px;
    display: flex;
    align-items: center;
  ion-item{
    width: 30vw;
    --padding-start: 10px;
    --min-height: 35px;
    max-width: 400px;
    min-width: 300px;
    border-radius: 30px;
    img{
      height: 20px;
      margin: 0 5px 0 0;
    }

    ion-input{
    font-size: 14px;
      --padding-top: 5px;
      --padding-bottom: 5px;
      --padding-start: 5px;
      --padding-end: 5px;
    }

    ion-select{
      font-size: 14px;
      color: #00b9ff;
      border-left: 1px solid rgba(144, 165, 206, 0.68);
      stroke: rgb(255, 255, 255);
      // margin-left: 0px;
      --padding-top: 5px;
      --padding-bottom: 5px;
      --padding-start: 5px;
      --padding-end: 5px;
      width: 35%;
      padding: 0px 5px 0 15px;
      transition: .5s;
      max-width: unset;
      position: relative;
    }
  }
}

.start-ring {
    stroke-width: 10px;
    stroke: #0e82e5;
    fill: #fff;
  }

  .comp {
    font-family: 'Open Sans SemiBold';
    font-size: 1px;
    cursor: pointer;
    fill: #666666;
    /*text-transform: uppercase;*/
  }
  
  .comp text {
    display: none;
  }
  
  .comp .bgrect {
    display: none;
  }
  
  .comp .on {
    font-size: 10px;
    display: block !important;
    z-index: 10;
  }
  
  .comp .recton {
    fill: #00b9ff;
  }

  .crect {
    fill: #fafafa;
    display: block;
  }

  .compHighLight .crect {
    /* fill: #333;*/
    display: block !important;
  }

  ion-select::part(icon){
    opacity: 1;
  }

  .first-select{
    width: 100% !important;
    max-width: 100% !important;
    border-left: none !important;
    padding: 0 5px 0 5px !important;
  }