.side-nav-item{
    justify-content: center;
    display: flex;
    height: 50px;
    align-items: center;
    margin: 0 10px;
    background: #4e62a1;
    color: white;
    padding: 5px;
    border-radius: 10px;
}

.item-Active{
   background-color: #324784 !important;
}

.avatar{
    border-radius: 50%;
    padding: 10px;
    border: 2px solid white;
    width: 45px;
    height: 45px;
}

.column-item{
    font-size: 12px;
    color: #394e8b;
    border-right: 1px solid #ffffff;
    font-size: 11px;
    padding: 5px 10px;
}

.row-header{
    background-color: #ccc;
}
.col-header{
    font-weight: 600;
    border-right: 1px solid #ffffff;
}

.item-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-left-center{
    display: flex;
    align-items: center;
}

.row-item{
    background-color: #f2f2f2;
    border-top: 3px solid #ffffff;
}

.no-border{
    border-right: 0px !important;
}

