// .side-nav-item{
//     justify-content: center;
//     display: flex;
//     height: 50px;
//     align-items: center;
//     margin: 0 10px;
//     background: #4e62a1;
//     color: white;
//     padding: 5px;
//     border-radius: 10px;
// }

// .item-Active{
//    background-color: #324784 !important;
// }

// .avatar{
//     border-radius: 50%;
//     padding: 10px;
//     border: 2px solid white;
//     width: 45px;
//     height: 45px;
// }

// .column-item{
//     font-size: 12px;
//     color: #394e8b;
//     border-right: 1px solid #ffffff;
//     font-size: 11px;
//     padding: 5px 10px;
// }

// .row-header{
//     background-color: #ccc;
// }
// .col-header{
//     font-weight: 600;
//     border-right: 1px solid #ffffff;
// }

// .item-center{
//     display: flex;
//     align-items: center;
//     justify-content: center;
// }

// .item-left-center{
//     display: flex;
//     align-items: center;
// }

// .row-item{
//     background-color: #f2f2f2;
//     border-top: 3px solid #ffffff;
// }

// .no-border{
//     border-right: 0px !important;
// }

// .overallDiv{
//     display: flex;
//     flex-direction: row;
//     background: linear-gradient(-90deg,#2E4C99, #233771);
// }

// .menu{
//     height: 100vh;
//     width: 120px;
//     background-color: #ffffff;
//     .logo{
//         background-color: #2e4a99;
//         padding: 20px 10px;
//         border-bottom-right-radius: 20px; 
//         display: flex; 
//         justify-content: center;
//     }

//     .menu-item-div{
//         display: flex;
//         flex-direction: column;
//         justify-content: space-evenly;
//         height: 50vh;
//     }

//     .divider-span{
//         padding: 0 15px;

//         hr{
//             border: 1px solid #324784; 
//             margin-left: 15px; 
//             margin-right: 15px; 
//             height: 0px;
//         }
//     }

//     .menu-nav-span{
//         display: flex; 
//         justify-content: center;

//         ion-item{
//             --padding-start: 0px;
//         }
//     }
// }

// .content-div{
//     width: 100%;

//     .section1-div{
//         display: flex; 
//         flex-direction: column; 
//         align-items: center; 
//         justify-content: center; 
//         padding: 40px 25px 20px 25px;

//         .title-Div{
//             display: flex; 
//             flex-direction: row;

//             h1{
//                 font-size: 35px; 
//                 margin: 0px; 
//                 color: #00b9ff;
//             }
            
//             .profile{
//                 position: absolute;
//                 right: 35px;
//                 top: 20px;
//             }
//         }

//         .sub-title{
//             width:75vh;

//             p{
//                 color: #ffffff; 
//                 font-size: 17px; 
//                 margin-top: 30px;
//             }

//             img{
//                 height: 12px;
//             }
//         }
//     }

//     .section2-div{
//         display: flex;
//         flex-direction: row; 
//         justify-content: space-between;
//         width: 100%; 
//         padding: 25px 25px 20px 25px;

//         h1{
//             font-size: 30px; margin: 0px; color: #00b9ff;
//         }

//         ion-item{
//             --background:#12203f; 
//             --color: #00b9ff; 
//             --ion-item-background-activated:#12203f;
//         }
//     }

//     .section3-div{
//         .perfomance-div{
//             padding: 0 20px;

//             ion-card{
//                 background-color: #ffffff;

//                 ion-card-content{
//                     height: calc(100vh - 500px); 
//                     display: flex; 
//                     align-items: center;

//                     .loader{
//                         display: flex;
//                         justify-content: center;
//                         align-items: center;
//                         width: 100%;
//                         height: 100%;

//                         img{
//                             width: 50px;
//                         }
//                     }

//                     .title-p{
//                         color: #394e8b; 
//                         font-size: 16px; 
//                         font-weight: 600; 
//                         padding:0 10px;
//                     }

//                     .desc-p{
//                         color: #394e8b; 
//                         font-size: 16px; 
//                         padding-top: 20px; 
//                         padding: 20px 10px 20px 10px;
//                     }

//                     .perf-date-p{
//                         text-align: right;
//                         padding-right: 20px;
//                         color: #394e8b;
//                         font-size: 14px;
//                         font-style: italic;
//                     }

//                     .row2{
//                         margin-top: 25px;
//                     }

//                     .dates-div{
//                         display: flex; 
//                         flex-direction: row; 
//                         padding: 10px 0 0 10px;

//                         p{
//                             font-style: italic; 
//                             color: #394e8b;
//                         }

//                         .p-padding{
//                             padding-left: 20px;
//                         }
//                     }
                    
//                     .image-div{
//                         display: flex; 
//                         justify-content: flex-end;

//                         img{
//                             width: 150px;
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }

// @media screen and (orientation:portrait){
//     .content-div{
//         width: 88%;
//     }

//     .content-div .section1-div .sub-title{
//         width: 40vh;
//     }
//     .menu .menu-item-div{
//         height: 45vh;
//     }
    
// }

ion-header{
    .avatar{
        border-radius: 50%;
        padding: 10px;
        border: 2px solid white;
        width: 45px;
        height: 45px;
      }
}
ion-content{
.parentDiv{
    height: calc(100vh - 111px);
    width: 100vw;
    display: flex;
    flex-direction: row;

    .leftCard{
        margin: 0px;
        border-radius: 0px;
        box-shadow: none;
        height: 100%;
        width: 80%;
    }
    .rightCard{
        margin: 0;
        border-radius: 0px;
        box-shadow: none;
        height: 100%;
        width: 25%;
        --background: #f5f5fb;

        ion-item{
            --padding-start: 10px;
            --min-height: 55px;
            border-radius: 10px;
            box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);

            ion-select{
                --padding-start: 0px;
                display: inline-flex;
                justify-content: flex-end;
                width: 100%;
                max-width: 100%;
            }
        }

        
    }
    }
}



