<!-- <div class="overallDiv">

  <div class="menu">
    <div class="logo">
      <img src="../../../assets/images/NewAgeAlpha-logo.svg" alt="Logo">
    </div>
    <div>
      <div class="menu-item-div">
        <span class="side-nav-item" [ngClass]="{'item-Active': selectedCountry == item}"
          *ngFor="let item of CountryClasificationList" (click)="OnItemClick(item)">
          <ion-label>{{item}}</ion-label>
        </span>
      </div>
      <span class="divider-span">
        <hr></span>
      <span class="menu-nav-span">
        <ion-item lines="none" [routerLink]="['/menu/menu/home']" routerDirection="root"
           detail=false>
          <img src="../../../assets/images/H-Factor Icon solid-blue.svg" alt="home" style="height: 65px;">
        </ion-item>
      </span>
    </div>
  </div>
  <div class="content-div">
    <div class="section1-div">
      <div class="title-Div">
        <ion-text>
          <h1>H-Factor Indexes</h1>
        </ion-text>
        <div class="profile">
          <div class="avatar" (click)="profilePopover($event)">
            <img src="../../assets/images/Profile_NAA5.svg" alt="Profile">
          </div>
        </div>
      </div>

      <ion-text class="sub-title">
        <p>To build an index, we start with one of
          S&P<sup><img src="../../../assets/images/RegisteredTM.svg" alt="Registered"></sup> Dow
          Jones<sup><img src="../../../assets/images/RegisteredTM.svg" alt="Registered"></sup>
          Indexes. We then develop an investment methodology which is incorporated in a rule book. These documents are
          forwarded to S&P<sup><img src="../../../assets/images/RegisteredTM.svg" alt="Registered"></sup> for validation
          and history calculation. On a quarterly basis we supply
          H-Factor to S&P<sup><img src="../../../assets/images/RegisteredTM.svg" alt="Registered"></sup> who rebalance
          the indexes.<br><br>
          These S&P<sup><img src="../../../assets/images/RegisteredTM.svg" alt="Registered"></sup> Dow Jones<sup><img
              src="../../../assets/images/RegisteredTM.svg" alt="Registered"></sup> calculated indexes then form the
          basis of our SMAs and all
          of our investment products.</p>
      </ion-text>
    </div>

    <div class="section2-div">
      <ion-text>
        <h1>{{selectedCountry}}</h1>
      </ion-text>
      <div *ngIf="SelectedData">
        <ion-item id="indexSelect" lines='none'>
          <ion-select [value]="SelectedData.indexName" interface="popover" (ionChange)="onIndexChange($event)">
            <ion-select-option [value]="item.indexName"
              *ngFor="let item of Index[CountryClasificationList.indexOf(selectedCountry)]">{{item.indexName}} ({{item.indexCode}})
            </ion-select-option>
          </ion-select>
        </ion-item>
      </div>

    </div>
    <div class="section3-div">
      <mat-tab-group>
        <mat-tab label="Perfomance">
          <div class="perfomance-div">
            <ion-card>
              <ion-card-content>
                <div *ngIf="!selectedIndexData" class="loader">
                  <img src="../../../assets/images/NAA.gif" alt="Loader">
                </div>
                <div *ngIf="selectedIndexData" style="width: 100%;">
                  <ion-text>
                    <p class="title-p">
                      {{selectedIndexData.indexName}}</p>
                  </ion-text>
                  <ion-text>
                    <p class="desc-p" [innerHTML]="get_desc(selectedIndexData.description)"></p>
                  </ion-text>
                  <ion-text>
                    <p class="perf-date-p">performace : As of {{selectedIndexData.date}}</p>
                  </ion-text>
                  <div>
                    <ion-grid>
                      <ion-row class="row-header">
                        <ion-col size="1.5" class="column-item col-header no-border item-left-center">Name</ion-col>
                        <ion-col size="1" class="column-item col-header item-center">Value</ion-col>
                        <ion-col size="1" class="column-item col-header item-center">Daily</ion-col>
                        <ion-col size="1" class="column-item col-header item-center">YTD</ion-col>
                        <ion-col size="1" class="column-item col-header item-center">1 Year</ion-col>
                        <ion-col size="1" class="column-item col-header item-center">3 Year*</ion-col>
                        <ion-col size="1" class="column-item col-header item-center">5 Year*</ion-col>
                        <ion-col size="1" class="column-item col-header item-center">10 Year*</ion-col>
                        <ion-col class="column-item col-header item-center">Cumulative Inception</ion-col>
                        <ion-col class="column-item col-header item-center">Annualized Inception</ion-col>
                      </ion-row>
                      <ion-row class="row-item">
                        <ion-col size="1.5" class="column-item no-border item-left-center">
                          {{selectedIndexData.indexName}}</ion-col>
                        <ion-col size="1" class="column-item item-center">{{roundOf(selectedIndexData.value)}}</ion-col>
                        <ion-col size="1" class="column-item item-center">
                          {{roundOf(selectedIndexData.dailyReturn*100)}}%</ion-col>
                        <ion-col size="1" class="column-item item-center">{{roundOf(selectedIndexData.ytdReturn*100)}}%
                        </ion-col>
                        <ion-col size="1" class="column-item item-center">{{roundOf(selectedIndexData.y1Return*100)}}%
                        </ion-col>
                        <ion-col size="1" class="column-item item-center">{{roundOf(selectedIndexData.y3Return*100)}}%
                        </ion-col>
                        <ion-col size="1" class="column-item item-center">{{roundOf(selectedIndexData.y5Return*100)}}%
                        </ion-col>
                        <ion-col size="1" class="column-item item-center">{{roundOf(selectedIndexData.y10Return*100)}}%
                        </ion-col>
                        <ion-col class="column-item item-center">{{roundOf(selectedIndexData.cumReturns*100)}}%
                        </ion-col>
                        <ion-col class="column-item item-center">{{roundOf(selectedIndexData.annReturns*100)}}%
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </div>
                  <div class="row2">
                    <ion-grid fixed>
                      <ion-row class="row-header">
                        <ion-col size="1.5" class="column-item col-header no-border item-left-center">Name</ion-col>
                        <ion-col size="1" class="column-item col-header item-center">2019</ion-col>
                        <ion-col size="1" class="column-item col-header item-center">2018</ion-col>
                        <ion-col size="1" class="column-item col-header item-center">2017</ion-col>
                        <ion-col size="1" class="column-item col-header item-center">2016</ion-col>
                        <ion-col size="1" class="column-item col-header item-center">2015</ion-col>
                        <ion-col size="1" class="column-item col-header item-center">2014</ion-col>
                        <ion-col size="1" class="column-item col-header item-center">2013</ion-col>
                        <ion-col class="column-item col-header item-center">2012</ion-col>
                        <ion-col class="column-item col-header item-center">2011</ion-col>
                        <ion-col class="column-item col-header item-center">2010</ion-col>
                      </ion-row>
                      <ion-row class="row-item">
                        <ion-col size="1.5" class="column-item no-border item-left-center">
                          {{selectedIndexData.indexName}}</ion-col>
                        <ion-col size="1" class="column-item item-center">{{roundOf(selectedIndexData.year1*100)}}%
                        </ion-col>
                        <ion-col size="1" class="column-item item-center">{{roundOf(selectedIndexData.year2*100)}}%
                        </ion-col>
                        <ion-col size="1" class="column-item item-center">{{roundOf(selectedIndexData.year3*100)}}%
                        </ion-col>
                        <ion-col size="1" class="column-item item-center">{{roundOf(selectedIndexData.year4*100)}}%
                        </ion-col>
                        <ion-col size="1" class="column-item item-center">{{roundOf(selectedIndexData.year5*100)}}%
                        </ion-col>
                        <ion-col size="1" class="column-item item-center">{{roundOf(selectedIndexData.year6*100)}}%
                        </ion-col>
                        <ion-col size="1" class="column-item item-center">{{roundOf(selectedIndexData.year7*100)}}%
                        </ion-col>
                        <ion-col class="column-item item-center">{{roundOf(selectedIndexData.year8*100)}}%</ion-col>
                        <ion-col class="column-item item-center">{{roundOf(selectedIndexData.year9*100)}}%</ion-col>
                        <ion-col class="column-item item-center">{{roundOf(selectedIndexData.year10*100)}}%</ion-col>
                      </ion-row>
                    </ion-grid>
                  </div>
                  <div class="dates-div">
                    <p>First value date : {{selectedIndexData.firstValueDt}}
                    </p>
                    <p class="p-padding">Launch date :
                      {{selectedIndexData.inception}}</p>
                  </div>
                  <div class="image-div">
                    <img src="../../../assets/images/S&P_1.svg" alt="S&P">
                  </div>
                </div>

              </ion-card-content>
            </ion-card>
          </div>
        </mat-tab>
        <mat-tab disabled label="Construction"> Content 2 </mat-tab>
      </mat-tab-group>

    </div>

  </div>

</div> -->

<ion-header>
  <ion-toolbar style="--background: #2e4c99;
  --padding-start: 0;
  --padding-bottom: 0;
  --padding-end: 0;
  --padding-top: 0;">
    <div style="    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;">
      <img src="../../../assets/images/NewAgeAlpha-logo.svg" alt="logo" style="height: 35px;">
    </div>
    <div style="position: absolute; top: 7px; right: 50px;">
      <div style="display: flex; flex-direction: row;">
        <div class="avatar" (click)="profilePopover($event)">
          <img src="../../../assets/images/Profile_NAA5.svg" alt="Profile">
        </div>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content forceOverscroll=false>
  <div class="parentDiv">
    <ion-card class="leftCard">
      <ion-card-content>
        Awesome content
      </ion-card-content>
    </ion-card>
  <ion-card class="rightCard">
    <ion-card-content>
      <div>
        <ion-item lines="none">
          <ion-select value="peperoni" multiple="false" placeholder="Select Pizza" interface="popover">
            <ion-select-option value="peperoni">Peperoni</ion-select-option>
            <ion-select-option value="hawaii">Hawaii</ion-select-option>
          </ion-select>
        </ion-item>
      </div>
    </ion-card-content>
  </ion-card>
  </div>
</ion-content>
