<ion-header class="ion-no-border">
  <ion-toolbar>
    <img src="../../assets/images/NAA_Logo_Mobile.svg" height="35" alt="Logo">
  </ion-toolbar>
</ion-header>
<ion-content forceOverscroll=false>
  <div class="outerdiv outerdivmobile">
    <div>
      <img src="../../assets/images/NAA_aboutUs_tools.png" alt="Tool" />
    </div>
    <div class="welcomeTextDiv">
      <ion-text>
        <p>The H-Factor System is a free service oﬀered by New Age Alpha that is designed to help you avoid the Human
          Factor inside your portfolio.
          This system measures the amount of Human Factor in a stock’s price.</p>
      </ion-text>
    </div>
    <div class="versiondiv">
      <ion-text>
        <p>mobile version 1.0</p>
      </ion-text>
    </div>
    <div class="LoginBtnDiv">
      <ion-button (click)="onLoginClick()" expand="block" fill="clear">
        Login
      </ion-button>
    </div>
    <div class="forgotPwdDiv">
      <ion-button (click)="onForgotPwdClick()" expand="block" fill="clear" shape="round">
        Forgot Password?
      </ion-button>
    </div>
    <div class="signUpDiv">
      <ion-button (click)="onSignupClick()" expand="block" fill="clear" shape="round">
        <span> Sign up</span>
      </ion-button>
    </div>
  </div>
</ion-content>