<ion-content forceOverscroll = false>
  <div style="display: block;">
    <ion-card class="card">
        <ion-card-content>
          <div class="tool-img">
           <img style="padding-top: 2%;" src="../../assets/images/NAA_aboutUs_tools.png"/>
          </div>
            <div class="text_div">
            <p style="color: white; font-size: 15px; ">The H-Factor System is a free service oﬀered by New Age Alpha that is designed to help you avoid the Human Factor inside your portfolio. This system measures the amount of Human Factor in a stock’s price.</p>
            </div>
            <div class="text_div">
              <p class="second" style="color: white;">H-Factor Scores for Stocks, ETFs and Global Indexes.</p>
            </div>
            <div>
              <div class="btndiv">
                <ion-button class="signupbtn" expand="block" (click)="onSignupClick()">
                    Sign up
                </ion-button>
              </div>
              <div class="btndiv">
                <ion-button class="loginbtn" expand="block" (click)="onLoginClick()">
                    Login
                </ion-button>
              </div>
              <div class="btndiv">
                  <ion-button class="skipbtn" fill="outline" expand="block" (click)="onSkipClick()">
                      newagealpha.com
                  </ion-button>
                </div>
            </div>
          </ion-card-content>
    </ion-card>  
</div>
</ion-content>
