<ion-content forceOverscroll=false *ngIf="showSplashLoader">
  <div style="height: 100%; width: 100%; display: flex; justify-content: center; align-items:center;">
    <img src="../../assets/images/NAA.gif" alt="loading..." height="35px">
  </div>
</ion-content>

<ion-header class="ion-no-border" *ngIf="!showSplashLoader">
  <ion-toolbar>
    <img src="../../assets/images/NAA_Logo_Mobile.svg" height="35" alt="Logo">
  </ion-toolbar>
</ion-header>
<ion-content forceOverscroll=false *ngIf="!showSplashLoader">
  <div class="outerdiv outerdivmobile">
    <div>
      <img src="../../assets/images/NAA_aboutUs_tools.png" alt="Tool" />
    </div>
    <div class="welcomeTextDiv">
      <ion-text>
        <p>The <span style="white-space: nowrap;">H-Factor</span> System is a free service oﬀered by New Age Alpha that is designed to help you avoid the <span style="white-space: nowrap;">H-Factor</span> inside your portfolio.
          This system measures the amount of <span style="white-space: nowrap;">H-Factor</span> in a stock’s price.</p>
      </ion-text>
    </div>
    <div class="versiondiv">
      <ion-text>
        <p>mobile version 1.0</p>
      </ion-text>
    </div>
    <div class="LoginBtnDiv">
      <ion-button (click)="onLoginClick()" expand="block" fill="clear">
        Login
      </ion-button>
    </div>
    <div class="forgotPwdDiv">
      <ion-button (click)="onForgotPwdClick()" expand="block" fill="clear" shape="round">
        Forgot Password?
      </ion-button>
    </div>
    <div class="signUpDiv">
      <ion-button (click)="onSignupClick()" expand="block" fill="clear" shape="round">
        <span> Sign up</span>
      </ion-button>
    </div>
  </div>
</ion-content>
<div id="Loader" style="background: rgba(0,0,0,0.5);z-index: 99999; position: absolute; height: 100%; width: 100%; display: flex; justify-content: center; align-items: center;">
  <img src="../../assets/images/NAA.gif" alt="Loading..." style="height: 30px;width: 30px !important;">    
</div>