ion-content{
    --background: #274b9e;
}

ion-header ion-toolbar{
    --background: #274b9e;
    padding: 10px;
    --border-width:0;
}

.innercard{
    height: 90%;
    width: 90%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.innercardmobile{
    height: 100% !important;
    width: 100% !important;
    margin: 0 !important;
    border-radius: 0 !important;
    box-shadow: none !important;
}

.innercard2{
    height: 85%;
    width: 85%;
    --background: #274b9e;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px;
}

.innercard2mobile{
    height: 100% !important;
    width: 100% !important;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.ParentDiv{
    display: block;
}

.outerdiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img{
        width: 250px;
    }

    .welcomeTextDiv{
        margin-top: 25px;

        p{
            display: inline-block;
            width: 50vh;
            text-align: center;
            color: #ffffff;
            font-size: 20px;
        }
    }

    .versiondiv{
        margin-top: 25px;

        p{
            font-family: Open Sans Regular;
            display: inline-block;
            width: 50vh;
            text-align: center;
            color: #ffffff;
            font-size: 14px;
        }
    }
    
    .LoginBtnDiv{
        margin-top: 30px;

        ion-button{
            --border-radius: 15px; font-size: 22px; height: 50px; 
            --background: #00b9ff;
            --background-activated:  #00b9ff;
            --background-focused:  #00b9ff;
            --background-hover: #00b9ff;
            color: #ffffff; 
            width: 30vh;
            font-family: Open Sans semiBold;
        }
    }

    .forgotPwdDiv{
        margin-top: 25px;

        ion-button{
            height: 21px; 
            color: #00b9ff; 
            font-size: 17px;
            font-family: Open Sans SemiBold;
        }
    }

    .signUpDiv{

        ion-button{
            height: 21px; 
            color: #ffffff; 
            font-size: 17px;
            font-family: Open Sans SemiBold;

            span{
                color: #00b9ff; 
                padding-left: 5px;
            }
        }

    }
}

.outerdivmobile{

    padding-bottom: 20px;
    height: 100%;

    img{
        width: 200px !important;
    }

    .welcomeTextDiv{
        margin-top: 35px !important;
        p{
            font-family: Open sans Regular;
            width: 85vw !important;
            font-size: 16px !important;
        }
        
    }

    .versiondiv{
        p{
            font-size: 14px !important;
        }
    } 

    .LoginBtnDiv{
        margin-top: 25px !important;

        ion-button{
            height: 35px !important;
            font-size: 16px !important;
            width: 65vw;
            text-transform: inherit !important;
        }
    }

    .forgotPwdDiv{
        margin-top: 20px !important;
        ion-button{
            font-size: 13px !important;
            text-transform: inherit !important;
        }
    }

    .signUpDiv{

        ion-button{
            font-size: 13px !important;
            text-transform: inherit !important;
        }
    }
}

  @media screen and (orientation:landscape) {
    .innercard2mobile{
        overflow: auto;

        ion-card-content{
            height: 100%;
        }
    }

    .button_outer_div{
        display: flex;
        justify-content: center;

        .button_inner_div{
            width: 400px;
        }
    }

    .outerdivmobile{
        .welcomeTextDiv{
            p{
                width: 100vh !important;
            }
        }
        
    }

    .LoginBtnDiv{
        ion-button{
            width: 30vw !important;
        }
    }

    .tab_background{
        --background: url('../../assets/images/Tool_BG.svg') !important;
    }
  }