ion-card:nth-child(1){
    margin: 0;
    margin-left: 25px;
    border-radius: 20px;

    ion-card-content{
        padding: 3px 10px;
        display: flex;
        align-items: center;
        justify-content: center;

        p{
            font-size: 12px;
            font-family: Open Sans SemiBold;
            color: #00b9ff;
            margin: 0;
        }
    }
}

ion-card:nth-child(2){
    margin: 0;
    margin-top: 50px;
    margin-left: 75px;
    border-radius: 25px;
    background: transparent;
    border: 2px solid #00b9ff;
    width: 90%;

    ion-card-header{
        padding: 0 0px 0 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    div{
        ion-card-subtitle{
            font-size: 12px;
            text-transform: inherit;
            font-family: Open Sans SemiBold;
            color: #eee;
        }

        ion-card-title{
            font-size: 14px;
    font-family: Open Sans SemiBold;
    color: #fff;
        }
    }

    span{
        height: 45px;
        width: 45px;
        background: #fff;
        display: flex;
        justify-content: center;
        border-radius: 25px;
        margin-right: 0px;
    }
    }

    ion-card-content{
        padding: 10px 10px 10px 10px;
        ion-grid{
            ion-row{
                ion-col{
                    padding: 0;
                    text-align: center;
                    color: #fff;
                    font-size: 12px;
                    font-family: Open Sans Regular;
                }
            }

            ion-row:first-child{
                ion-col{
                    font-family: Open Sans SemiBold;
                }
            }
        }
    }
}

ion-card:nth-child(3){
    margin: 0;
    margin-top: 25px;
    margin-left: 50px;
    border-radius: 25px;
    background: transparent;
    border: 2px solid #00b9ff;
    width: 90%;

    ion-card-header{
        padding: 0 0px 0 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    div{
        ion-card-subtitle{
            font-size: 12px;
            text-transform: inherit;
            font-family: Open Sans SemiBold;
            color: #eee;
        }

        ion-card-title{
            font-size: 14px;
    font-family: Open Sans SemiBold;
    color: #fff;
        }
    }

    span{
        height: 45px;
        width: 45px;
        background: #fff;
        display: flex;
        justify-content: center;
        border-radius: 25px;
        margin-right: 0px;
    }
    }

    ion-card-content{
        padding: 10px 10px 10px 10px;
        ion-grid{
            ion-row{
                ion-col{
                    padding: 0;
                    text-align: center;
                    color: #fff;
                    font-size: 12px;
                    font-family: Open Sans Regular;
                }
            }

            ion-row:first-child{
                ion-col{
                    font-family: Open Sans SemiBold;
                }
            }
        }
    }
}