<ion-card>
  <ion-card-content>
    <p>S&P Global Industry Classification Standard  </p>
  </ion-card-content>
</ion-card>

<ion-card (click)="onSectorClick('Global Universe')" [style.background]="selSector == 'Global Universe'? '#00b9ff': 'transparent'">
<ion-card-header>
  <div><ion-card-subtitle>Global Universe</ion-card-subtitle>
    <ion-card-title>{{globalGICS.name}} ({{globalGICS.count}})</ion-card-title>
  </div>
  <span>
    <p [style.color]="getColor(globalGICS.med)">{{globalGICS.med}}</p>
  </span>
</ion-card-header>
  <ion-card-content *ngIf="selSector == 'Global Universe'">
    <ion-grid>
      <ion-row>
        <ion-col size="6">H-Factor</ion-col>
        <ion-col size="6">Companies</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">0-25%</ion-col>
        <ion-col size="6">{{globalGICS.upto25}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">25-50%</ion-col>
        <ion-col size="6">{{globalGICS.upto50}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">50-75%</ion-col>
        <ion-col size="6">{{globalGICS.upto75}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">75-100%</ion-col>
        <ion-col size="6">{{globalGICS.upto100}}</ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>

<ion-card (click)="onSectorClick('Index')" [style.background]="selSector == 'Index'? '#00b9ff': 'transparent'">
  <ion-card-header>
    <div><ion-card-subtitle>Index</ion-card-subtitle>
      <ion-card-title>{{IndexGICS.name}} ({{IndexGICS.count}})</ion-card-title>
    </div>
    <span>
      <p [style.color]="getColor(IndexGICS.med)">{{IndexGICS.med}}</p>
    </span>
  </ion-card-header>
    <ion-card-content *ngIf="selSector == 'Index'">
      <ion-grid>
        <ion-row>
          <ion-col size="6">H-Factor</ion-col>
          <ion-col size="6">Companies</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">0-25%</ion-col>
          <ion-col size="6">{{IndexGICS.upto25}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">25-50%</ion-col>
          <ion-col size="6">{{IndexGICS.upto50}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">50-75%</ion-col>
          <ion-col size="6">{{IndexGICS.upto75}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">75-100%</ion-col>
          <ion-col size="6">{{IndexGICS.upto100}}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>