<ion-content forceOverscroll=false>
    <div style="display: block;">
      <form [formGroup]="loginForm">
    <ion-card class="card">
      <ion-card class="outercard" [ngClass]="{'outercardmobile': mobile}">
        <ion-card class="innercard" [ngClass]="{'innercardmobile': mobile}">
          
        
      
      <ion-card-header style="padding: 0px; background: none;">
        <ion-card-title class="cardTitle">Login</ion-card-title>
      </ion-card-header>
      <ion-card-content class="overfloscroll card-Content" >
        
        <div class="form">
          <div class="inputdiv">
            <ion-label class="emailLabel">Email<ion-text color="danger"> *</ion-text>
            </ion-label>
            <ion-item class="emailItem">
              <ion-input autofocus="true" type="text" (ionInput)="onemialTextInput()" placeholder="Email Address" formControlName="Email" autocomplete="on"></ion-input>
            </ion-item>
            <div style="color: #f44336; padding-top: 0.2rem; font-size: 11px; font-family: Open Sans;" *ngIf="hasError('Email', 'required') && email">Email is required</div>
          </div>
          <div class="inputdiv">
            <ion-label class="emailLabel">Password<ion-text color="danger"> *</ion-text>
            </ion-label>
            <ion-item class="passwordItem">
              <ion-input class="passwordInput" (keyup.enter)='onLoginClick()'  (ionInput)="onPwdTextInput()" type="password" placeholder="Password" formControlName="Password">
              </ion-input>
            </ion-item>
            <div style="color: #f44336; padding-top: 0.2rem; font-size: 11px; font-family: Open Sans;" *ngIf="hasError('Password', 'required') && pwd">Password is required</div>
          </div>
          <!-- <div class="inputdiv">
            <ion-item class="rememberItem" lines="none">
                <ion-checkbox mode="md" [(ngModel)]="stayStignedIn" [ngModelOptions]="{standalone: true}"></ion-checkbox>
                <ion-label class="checkboxLabel">Stay signed in</ion-label>
            </ion-item>
          </div> -->
          <div class="loginDiv">
            <ion-button class="loginBtn" size="medium" expand="block" [disabled] ="!loginForm.valid" (click)="onLoginClick()">
              <ion-spinner *ngIf="showLoad" name="crescent"></ion-spinner>&nbsp;{{showLoad ? 'Logging in...': 'Login'}}
            </ion-button>
          </div>
        </div>
        <div class="forgotPassDiv">
          <ion-button class="forgotPassBtn" fill="clear" expand="block" (click)="onForgotPassClick()">
            Forgot Password?
          </ion-button>
        </div>
        <div class="forgotPassDiv">
          <ion-button expand="block" fill="clear" class="forgotPassBtn" (click)="onSignupClick()">
            Sign up
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
    </ion-card>
    </ion-card>
  </form>
  </div>
</ion-content>