ion-content{

    --ion-background-color:#d3d8dc;

}

.card{
    border-radius: 0px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    --background: linear-gradient(180deg,#2E4C99, #233771);                
}

.outercard{
    height: 90%;
    width: 90%;
    background: #d3d8dc;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.outercardmobile{
    height: 100% !important;
    width: 100% !important;
    margin: 0 !important;
    border-radius: 0 !important;
}

.innercard{
    height: 85%;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    --background: linear-gradient(180deg,#2E4C99, #233771);  
    border-radius: 20px;

    .card-Content{
        width: 40%;
    }
}

.innercardmobile{
    height: 95% !important;
    width: 95% !important;

    .card-Content{
        width: 90% !important;
    }
}

.signupBtnDiv{
    padding: 5px 10px 10px 10px;
}

.signupBtn{
    --color:#00aeef;
    text-transform: inherit;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.cardTitle
{
    text-align: center; 
    color: #00aeef; 
    font-size: 40px; 
    font-weight: bold;
    padding-top: 15px;
}

.emailLabel{
    color: white;
    padding-left: 10px;
    font-size: 17px;
}

.emailItem
{
    --background: white;
    font-size: 18px;
}

.passwordItem
{
    --background: white;
    font-size: 16px;
}

.passwordInput{
    font-size: 19px !important;
}

.form{
    padding-top: 0px;
}

.inputdiv{
    padding: 10px;
}

.loginBtn{
    --background: linear-gradient(45deg, #00b9ff 0%, #2e4c99 100%);
    --background-activated: linear-gradient(45deg, #00b9ff 0%, #2e4c99 100%);
    --color	: #ffffff;
    --ripple-color : #9a9a9a;
    --color-activated : #ffffff;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    --border-radius: 15px;
    height: 50px;
    font-size: 22px;
    text-transform: inherit;
}

.loginDiv{
    padding: 15px 10px 15px 10px;
}

.forgotPassBtn{
    color: #00aeef;
    height: 16px;
    text-transform: inherit;
}

.forgotPassDiv{
    padding: 0px 10px 10px 10px;
}

.rememberItem{
    --padding-start: 0%;
    --background: #2e4c99 ;
    --background-activated: #2e4c99;
}

.checkboxLabel{
    color: white;
    padding-left: 10px;
    font-size: 14px;
}


@media screen and (orientation:landscape) {
.overfloscroll{
    overflow: auto;
}
.overfloscroll::-webkit-scrollbar, *::-webkit-scrollbar { 
    display: none; 
}

.innercardmobile{
    .card-Content{
        width: 50% !important;
    }
}
}