<ion-content>
<ion-split-pane contentId="menu-content" when="xs" [disabled]="true" (ionSplitPaneVisible)="onSplitPaneVisible(event)">
  <ion-menu contentId="menu-content" menuId="menu-content" side="start" type="overlay" *ngIf="mobile" (ionDidClose)="investmentsolution = false">
    <ion-content forceOverscroll = false *ngIf="mobile">
      <div>
      <div class = "avatarDiv">
          <div class = "avatar">
            
            <img src="../../assets/images/Profile_NAA5.svg" alt="Profile">
          </div>
          <div class = "deatilsDiv">
           
            <p>{{firstname}} {{lastname}}</p>
            <p>{{username}}</p>
          </div>
        </div>
      </div>
      <hr class="divider">
      <ion-list id="menu-List" >
          <ion-menu-toggle autoHide="false" >
            <ion-list *ngIf="investmentsolution === false" style="margin-bottom: 0px; padding-bottom: 0px;">
              <ion-item lines="none" style="    color: white; --detail-icon-opacity: 1;" [routerLink]="['/menu/home']" routerDirection="root" [class.active-item]="selectedPath==='/menu/menu/path'">
                <!-- //<ion-icon name="home-outline" style="color: white; margin-right: 10px;"></ion-icon> -->
                <!-- <ion-icon name="home-outline" style="color: white; margin-right: 10px;"></ion-icon> -->
                <img src="../../assets/images/H-Factor Icon solid.svg" alt="home" style="height: 25px; padding-right: 5px;">
               <ion-text color="light" style="font-size: 16px; font-family: Open Sans SemiBold;">
                 H-Factor System
               </ion-text>
              </ion-item>
            </ion-list>
            
        </ion-menu-toggle>
    
    
            <ion-item lines="none" style="    color: white; --detail-icon-opacity: 1;"  (click)="investmentsolution === true? investmentsolution = false : investmentsolution = true" >
              <img *ngIf="!investmentsolution" src="../../assets/images/bar graph.svg" alt="satistics" style="height: 20px; padding-right: 10px;">
              <ion-icon [name]="investmentsolution== true? 'chevron-back-outline' : 'chevron-forward-outline'" [slot]="investmentsolution== true? 'start':'end'" style="width: 20px;
              height: 20px;
              transition: 0.3s;
              margin: 0; color: white;"></ion-icon>
              <ion-text color="light" style="font-family: Open Sans SemiBold; font-size: 16px; " [ngStyle]="{'margin-left': investmentsolution? '10px':'0px'}">
                Investment Solution
              </ion-text>
            </ion-item>
    
            <ion-menu-toggle autoHide="false" >
              <ion-list *ngIf="investmentsolution == true" style="margin-bottom: 0px; ">
                <ion-item lines="none" style="color: white; --detail-icon-opacity: 1;" [routerLink]="['/menu/menu/performance',{'Key':'ESG'}]" routerLinkActive="router-link-active">
                  <ion-text color="light" style="font-size: 15px; font-family: Open Sans Regular;">
                    ESG Strategies
                  </ion-text>
                </ion-item>
    
                <ion-item lines="none" style="    color: white; --detail-icon-opacity: 1;" [routerLink]="['/menu/menu/performance',{'Key':'Fixed Income'}]" routerLinkActive="router-link-active">
                  <ion-text color="light" style="font-size: 15px; font-family: Open Sans Regular;">
                    Fixed Income Strategies
                  </ion-text>
                </ion-item>
    
                <ion-item lines="none" style="    color: white; --detail-icon-opacity: 1;" [routerLink]="['/menu/menu/performance',{'Key':'Leading Equity'}]" routerLinkActive="router-link-active">
                  <ion-text color="light" style="font-size: 15px; font-family: Open Sans Regular;">
                    Leading Equity Strategies
                  </ion-text>
                </ion-item>
    
                <ion-item lines="none" style="    color: white; --detail-icon-opacity: 1;" [routerLink]="['/menu/menu/performance',{'Key':'Long_Short Equity'}]" routerLinkActive="router-link-active">
                  <ion-text color="light" style="font-size: 15px; font-family: Open Sans Regular;">
                    Long / Short Equity Strategies
                  </ion-text>
                </ion-item>
    
                <ion-item lines="none" style="    color: white; --detail-icon-opacity: 1;" [routerLink]="['/menu/menu/performance',{'Key':'Low Volatility'}]" routerLinkActive="router-link-active">
                  <ion-text color="light" style="font-size: 15px; font-family: Open Sans Regular;">
                    Low Volatility Strategies
                  </ion-text>
                </ion-item>
    
                <!-- <ion-item lines="none" style="    color: white; --detail-icon-opacity: 1;" [routerLink]="['/menu/menu/performance',{'Key':'Target Volatility Controlled'}]" routerLinkActive="router-link-active">
                  <ion-text color="light" style="font-size: 15px; font-family: Open Sans Regular;">
                    Target Volatility Controlled Strategies
                  </ion-text>
                </ion-item> -->
              </ion-list>
            </ion-menu-toggle>
    
            <ion-menu-toggle autoHide="false" >
              <ion-list *ngIf="investmentsolution === false" style="padding-top: 0px;">
                <!-- <ion-item lines="none" style="    color: white; --detail-icon-opacity: 1;" [routerLink]="['/menu/menu/performance']" routerLinkActive="router-link-active" >
                  <img src="../../assets/images/bar graph.svg" alt="satistics" style="height: 20px; padding-right: 10px;">
                  <ion-text color="light" style="font-size: 16px; font-family: Open Sans SemiBold;">
                    H-Factor Indexes
                  </ion-text>
                </ion-item> -->
                <ion-item lines="none" style="    color: white; --detail-icon-opacity: 1;" [routerLink]="['/menu/menu/performance',{'Key':'Market View'}]" routerLinkActive="router-link-active" >
                  <img src="../../assets/images/Market view.svg" alt="satistics" style="height: 20px; padding-right: 10px;">
                  <ion-text color="light" style="font-size: 16px; font-family: Open Sans SemiBold;">
                    Market View
                  </ion-text>
                </ion-item>
                <ion-item lines="none" style="    color: white; --detail-icon-opacity: 1;" [routerLink]="['/menu/menu/change-password']" routerLinkActive="router-link-active" >
                  <img src="../../assets/images/password.svg" alt="ChangePassword" style="height: 20px; padding-right: 10px;">
                    <ion-text color="light" style="font-size: 16px; font-family: Open Sans SemiBold;">
                      Change Password
                    </ion-text>
                  </ion-item>
                <ion-item lines="none" style="    color: white; --detail-icon-opacity: 1;" (click)="onLogoutClick()">
                    <img src="../../assets/images/power.svg" alt="logout" style="height: 20px; padding-right: 10px;">
                    <ion-text color="light" style="font-size: 16px; font-family: Open Sans SemiBold;">
                        Logout
                      </ion-text>
                </ion-item>
              </ion-list>
          </ion-menu-toggle>
      </ion-list>
      <div class="footerDiv">
        <ion-text class="footerText">
          <p (click)="openBrowserClick()" style="font-family: Open Sans;">© 2020 <span style="color: #00AEEF;">newagealpha.com</span></p>
        </ion-text>
      </div>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="menu-content"></ion-router-outlet>
</ion-split-pane>
</ion-content>