<ion-header class="login-header">
  <ion-toolbar>
    <img src="../../assets/images/NAA_Logo_Mobile.svg" height="35" alt="Logo">
  </ion-toolbar>
</ion-header>

<ion-content forceOverscroll = false>
<div class="outerDiv">
  <form [formGroup]="changePasswordForm">
  <!-- <ion-card class="card">
    <ion-card class="outercard" [ngClass]="{'outercardmobile': mobile}">
      <ion-card class="innercard" [ngClass]="{'innercardmobile': mobile}"> -->
      
        <ion-text>
          <h1 class="cardTitle">Change Password</h1>
        </ion-text>
      <div class="form">
        <div class="inputdiv">
          <ion-label class="PasswordLabel">New Password<ion-text color="danger"> *</ion-text>
          </ion-label>
          <ion-item class="PasswordItem">
            <ion-input autofocus="true" type="text" (ionInput)="onPwdTextInput()" placeholder="Enter new password" formControlName="Password" type="password" ></ion-input>
            <ion-icon name="checkmark-circle" *ngIf="!hasError('Password', 'required') && pwd && !hasError('Password','minlength') && !hasError('Password','maxlength')"></ion-icon>
          </ion-item>
          <div style="color:white; padding-top: 0.2rem; font-size: 10px; font-family: Open Sans Regular;">(Password must contain at least min of 8 characters)</div>
          <div style="color:red; padding-top: 0.2rem; font-size: 10px; font-family: Open Sans Regular;" *ngIf="hasError('Password', 'required') && pwd">Password is required</div>
          <div style="color:red; padding-top: 0.2rem; font-size: 10px; font-family: Open Sans Regular;" *ngIf="hasError('Password', 'maxlength') && pwd">You have more than 50 characters</div>
        </div>
        <div class="inputdiv">
            <ion-label class="ConfirmPasswordLabel">Confirm Password<ion-text color="danger"> *</ion-text>
            </ion-label>
            <ion-item class="ConfirmPasswordItem">
              <ion-input type="text" (ionChange)="onCPwdTextInput()" enterkeyhint="Submit" (keyup.enter)='onSubmitClick()' placeholder="Confirm new password" formControlName="confirmPassword" type="password"></ion-input>
            </ion-item>
            
            <div style="color: #f44336; padding-top: 0.2rem; font-size: 12px;" *ngIf="hasError('confirmPassword', 'required') && Cpwd">Confirm Password is required</div>
            <!-- <div style="color:red; padding-top: 0.2rem;" *ngIf="hasError('confirmPassword', 'passwordMatchValidator') && Cpwd">Password Not Match</div> -->
            <div style="color: #f44336; padding-top: 0.2rem; font-size: 12px;" *ngIf="flag">Password Not Match</div>
        </div>
        <div class="submitDiv">
            <ion-button class="submitBtn" [disabled] ="!changePasswordForm.valid" size="medium" expand="block" (click)="onSubmitClick()">
              <ion-spinner *ngIf="showLoad" name="crescent"></ion-spinner>&nbsp;{{showLoad ? 'Submitting...': 'Submit'}}
            </ion-button>
         </div>
        <div class="returnDiv">
          <ion-button class="returnBtn" fill="clear" size="medium" expand="block" (click)="onReturnClick()">
            Return H-Factor System
          </ion-button>
        </div>
      </div>
  </form>
</div>
</ion-content>
