<ion-content forceOverscroll = false>
<div style="display: block;">
  <form [formGroup]="changePasswordForm">
  <ion-card class="card">
    <ion-card-header>
      <ion-card-title class="cardTitle">Change Password</ion-card-title>
    </ion-card-header>
    <ion-card-content style="overflow: auto;">
      <div class="form">
        <div class="inputdiv">
          <ion-label class="PasswordLabel">Password<ion-text color="danger"> *</ion-text>
          </ion-label>
          <ion-item class="PasswordItem">
            <ion-input type="text" (ionInput)="onPwdTextInput()" placeholder="Password" formControlName="Password" type="password" ></ion-input>
          </ion-item>
          <div style="color:red; padding-top: 0.2rem;" *ngIf="hasError('Password', 'required') && pwd">Password is required</div>
          <div style="color:red; padding-top: 0.2rem;" *ngIf="hasError('Password', 'minlength') && pwd">Password must contain at least min of 8 characters</div>
        </div>
        <div class="inputdiv">
            <ion-label class="ConfirmPasswordLabel">ConfirmPassword<ion-text color="danger"> *</ion-text>
            </ion-label>
            <ion-item class="ConfirmPasswordItem">
              <ion-input type="text" (ionChange)="onCPwdTextInput()" placeholder="Confirm Password" formControlName="confirmPassword" type="password"></ion-input>
            </ion-item>
            
            <div style="color:red; padding-top: 0.2rem;" *ngIf="hasError('confirmPassword', 'required') && Cpwd">Confirm Password is required</div>
            <!-- <div style="color:red; padding-top: 0.2rem;" *ngIf="hasError('confirmPassword', 'passwordMatchValidator') && Cpwd">Password Not Match</div> -->
            <div style="color:red; padding-top: 0.2rem;" *ngIf="flag">Password Not Match</div>
        </div>
        <div class="submitDiv">
            <ion-button class="submitBtn" [disabled] ="!changePasswordForm.valid" size="medium" expand="block" (click)="onSubmitClick()">
              Submit
            </ion-button>
         </div>
        <div class="returnDiv">
          <ion-button class="returnBtn" size="medium" expand="block" (click)="onReturnClick()">
            Return H-Factor System
          </ion-button>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
  </form>
</div>
</ion-content>
