ion-header ion-toolbar{
    --background: #274b9e;
    padding: 10px;
    --border-width: 0 0 0;
}

ion-content{

    --background: #274b9e;     

    .outerDiv{
        display: flex;
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;

        form{
            width: 80%;
        }
    }
}

.cardTitle
{
    font-family: Open Sans Bold;
    text-align: center; 
    color: #00aeef; 
    font-size: 32px; 
    font-weight: bold;
    padding-top: 15px;
    
}

.form{
    padding-top: 5px;
}

.inputdiv{
    padding: 10px;
    padding-top: 2px;
}

.PasswordItem
{
    --min-height: 37px!important;
    --background: white;
    font-size: 13px;
    --padding-start: 5px;

    ion-input{
        --padding-top: 0;
        --padding-bottom: 0;
        --padding-end: 5px;
        --padding-start: 5px;
        }

    ion-icon{
        color: #3c763d;
    }
}

.PasswordLabel{
    font-family: Open Sans;
    color: white;
    padding-left: 5px;
    font-size: 13px;
}

.ConfirmPasswordItem
{
    --min-height: 37px!important;
    --background: white;
    font-size: 13px;
    --padding-start: 5px;

    ion-input{
        --padding-top: 0;
        --padding-bottom: 0;
        --padding-end: 5px;
        --padding-start: 5px;
        }
}

.ConfirmPasswordLabel{
    font-family: Open Sans;
    color: white;
    padding-left: 5px;
    font-size: 13px;
}

.submitDiv{
    padding: 15px 10px 0px 10px;
}

.submitBtn{
    --background: linear-gradient(45deg, #00b9ff 0%, #2e4c99 100%);
    --background-activated: linear-gradient(45deg, #00b9ff 0%, #2e4c99 100%);
    --background-focused: linear-gradient(45deg, #00b9ff 0%, #2e4c99 100%);
    --background-hover: linear-gradient(45deg, #00b9ff 0%, #2e4c99 100%); 
    --color	: #ffffff;
    --ripple-color : #9a9a9a;
    --color-activated : #ffffff;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    --border-radius: 15px;
    height: 37px;
    font-family: Open Sans semiBold;
    font-size: 17px;
    text-transform: inherit;
}

.returnDiv{
    padding: 15px 10px 10px 10px;
}

.returnBtn{
    color: #00aeef;
    height: 16px;
    font-family: Open Sans SemiBold;
    font-size: 13px;
    text-transform: inherit;
}

@media screen and (orientation:landscape) {
    .overfloscroll{
        overflow: auto;
    }
    .overfloscroll::-webkit-scrollbar, *::-webkit-scrollbar { 
        display: none; 
    }
    
    .innercardmobile{
        .card-Content{
            width: 50% !important;
        }
    }
    }