ion-content{

    --ion-background-color:#d3d8dc;

}

.card{
    border-radius: 0px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    --background: linear-gradient(180deg,#2E4C99, #233771);                
}

.outercard{
    height: 90%;
    width: 90%;
    background: #d3d8dc;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.outercardmobile{
    height: 100% !important;
    width: 100% !important;
    margin: 0 !important;
    border-radius: 0 !important;
}

.innercard{
    height: 85%;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    --background: linear-gradient(180deg,#2E4C99, #233771);  
    border-radius: 20px;

    .card-Content{
        width: 40%;
    }
}

.innercardmobile{
    height: 95% !important;
    width: 95% !important;

    .card-Content{
        width: 90% !important;
    }
}

.cardTitle
{
    font-family: Open Sans Bold;
    text-align: center; 
    color: #00aeef; 
    font-size: 32px; 
    font-weight: bold;
    padding-top: 15px;
    
}

.form{
    padding-top: 5px;
}

.inputdiv{
    padding: 10px;
    padding-top: 2px;
}

.PasswordItem
{
    --min-height: 37px!important;
    --background: white;
    font-size: 13px;
    --padding-start: 5px;

    ion-input{
        --padding-top: 0;
        --padding-bottom: 0;
        --padding-end: 5px;
        --padding-start: 5px;
        }
}

.PasswordLabel{
    font-family: Open Sans;
    color: white;
    padding-left: 5px;
    font-size: 13px;
}

.ConfirmPasswordItem
{
    --min-height: 37px!important;
    --background: white;
    font-size: 13px;
    --padding-start: 5px;

    ion-input{
        --padding-top: 0;
        --padding-bottom: 0;
        --padding-end: 5px;
        --padding-start: 5px;
        }
}

.ConfirmPasswordLabel{
    font-family: Open Sans;
    color: white;
    padding-left: 5px;
    font-size: 13px;
}

.submitDiv{
    padding: 15px 10px 0px 10px;
}

.submitBtn{
    --background: linear-gradient(45deg, #00b9ff 0%, #2e4c99 100%);
    --background-activated: linear-gradient(45deg, #00b9ff 0%, #2e4c99 100%);
    --background-focused: linear-gradient(45deg, #00b9ff 0%, #2e4c99 100%);
    --background-hover: linear-gradient(45deg, #00b9ff 0%, #2e4c99 100%); 
    --color	: #ffffff;
    --ripple-color : #9a9a9a;
    --color-activated : #ffffff;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    --border-radius: 15px;
    height: 37px;
    font-family: Open Sans semiBold;
    font-size: 17px;
    text-transform: inherit;
}

.returnDiv{
    padding: 15px 10px 10px 10px;
}

.returnBtn{
    color: #00aeef;
    height: 16px;
    font-family: Open Sans SemiBold;
    font-size: 13px;
    text-transform: inherit;
}

@media screen and (orientation:landscape) {
    .overfloscroll{
        overflow: auto;
    }
    .overfloscroll::-webkit-scrollbar, *::-webkit-scrollbar { 
        display: none; 
    }
    
    .innercardmobile{
        .card-Content{
            width: 50% !important;
        }
    }
    }