<ion-header>
  <ion-toolbar style="--min-height: 35px; padding: 5px 0;">
    <!-- <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons> -->
    <!-- <ion-icon ></ion-icon> -->
    <div style="display: flex;
    align-items: center;">
      <ion-icon slot="start" name="chevron-back-outline" (click)="closeSearch()"></ion-icon>
      <ion-searchbar placeholder="Ticker or company name" (ionChange)="SearchCompany($event)" id="searchbar"></ion-searchbar>
    </div>
      
  </ion-toolbar>
  <!-- <ion-toolbar>
    
  </ion-toolbar> -->
</ion-header>

<ion-content forceOverscroll=false>
  <ion-list *ngIf="_searchRes.length != 0 && data.length != 0">
    <ion-item *ngFor="let item of _searchRes" (click)="onCompanyClick(item)">
      <div>
        <span>
          <p>{{item.companyName}}&nbsp;({{item.ticker}})</p>
          <p>{{item.indexName}}</p>
        </span>
        <span>
          <p>{{item.country}}</p>
        </span>
      </div>
      <ion-label></ion-label>
    </ion-item>
  </ion-list>
  <div *ngIf="data.length == 0 && _searchRes.length == 0" style="    height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;">
    <img src="../../../assets/images/NAA.gif" alt="Loading..." style="height: 35px;
    width: 35px;">
  </div>
</ion-content>
