<ion-card [style.height]="showSort? '85%': '75%'">
  <ion-card-header>
    <ion-card-title>{{selTab == "ETF's"? 'Exchange Traded Funds': 'Equities and Fixed Income'}}</ion-card-title>
    <ion-button (click)="onbackClick()" *ngIf="GridType == 'IndexGrid'" fill="outline" shape="round">
      <fa-icon [icon]="faAngleDoubleLeft"></fa-icon>
      {{selCountry.countryName}}
    </ion-button>
    <ion-button (click)="onCompanybackClick()" *ngIf="GridType == 'CompanyGrid'" fill="outline" shape="round">
      <fa-icon [icon]="faAngleDoubleLeft"></fa-icon>
      back
    </ion-button>
  </ion-card-header>
  <ion-card-content [style.height]="GridType == 'CountryGrid'? '85%' : showSort? '65%': '78%'">
    <ion-list *ngIf="GridType == 'CountryGrid'" class="countryList">
      <ion-item *ngFor="let item of CountryData" detail="true" lines="none" (click)="onCountryClick(item)">
        <div>
          <span [style.color]="getColor(item.scores)">{{item.scores}}</span>
          <ion-label>{{item.countryName}}</ion-label>
        </div>
      </ion-item>
    </ion-list>
    <ion-list *ngIf="GridType == 'IndexGrid'" class="indexList">
      <ion-item *ngFor="let item of selIndexData" detail="false" lines="none" (click)="onIndexClick(item)">
        <div>
          <span [style.color]="getColor(item.scores)">{{item.scores}}</span>
          <ion-label>{{item.indexName}}</ion-label>
        </div>
      </ion-item>
    </ion-list>
    <ion-list *ngIf="GridType == 'CompanyGrid'" class="companyList">
      <ion-item *ngFor="let item of selCompanyData" detail="false" lines="none" (click)="onCompanyClick(item)">
        <div>
          <span [style.color]="getColor(roundValue(item.scores*100))">{{roundValue(item.scores*100)}}</span>
          <ion-text>
            <p>{{item.companyName}}</p>
            <p>{{item.ticker}}</p>
          </ion-text>
        </div>
      </ion-item>
    </ion-list>
  </ion-card-content>
  <ion-row [ngStyle]="{height: GridType == 'CountryGrid'? '3%': showSort? '23%' : '10%'}">
    <ion-col>
      <ion-item *ngIf="GridType != 'CountryGrid'" lines="none" (click)="onSortClick()">
      <div>
        <ion-text>
          <p>Sort by</p>
          <p>{{selSort}}</p>
        </ion-text>
        <ion-icon name="chevron-down-circle-outline"></ion-icon>
      </div> 
      </ion-item>
    </ion-col>
    <ion-col *ngIf="showSort">
      <hr >
      <ion-list *ngIf="GridType == 'IndexGrid'">
        <ion-item *ngFor="let item of indexsortList" lines="none" (click)="onSortItemClick(item)">
          <ion-label>{{item}}</ion-label>
        </ion-item>
      </ion-list>
      <ion-list *ngIf="GridType == 'CompanyGrid'">
        <ion-item *ngFor="let item of companysortlist" lines="none" (click)="onSortItemClick(item)">
          <ion-label>{{item}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-card>