ion-card{
    width: calc(100vw - 1075px);
    height: 75%;
    border-radius: 25px;
    --background: transparent;
    border: 2px solid #00b9ff;
    transition: 0.3s;
    ion-card-header{
        background: #00b9ff;
        height: 12%;
        padding: 12px 20px 0 20px;

        ion-card-title{
            font-size: 16px;
            font-family: Open Sans SemiBold;
            color: #ffffff;
        }

        ion-button{
            height: 25px;
            font-size: 12px;
            --padding-start: 10px;
            --padding-end: 10px;
            display: inline-flex;
            align-items: center;
            --padding-top: 2px;
            --padding-bottom: 2px;
            margin-inline-start: 0;
            margin-inline-end: 0;
            color: #fff;
            --border-color: #fff;
            margin-top: 10px;
            font-family: Open Sans SemiBold;

            fa-icon{
                margin-right: 5px;
            }
        }
    }
    ion-card-content{
        padding: 10px;

        .countryList{
            background: transparent;

            ion-item{
                --background: #00b9ff;
                border-radius: 25px;
                margin-bottom: 10px;
                color: #ffffff;
                --padding-start: 0px;
                --padding-end: 0px;

                div{
                    display: flex;
                    align-items: center;
                    flex-direction: row;

                    span{
                        height: 45px;
                        width: 45px;
                        background: #ffffff;
                        border-radius: 50%;
                        border: 2px solid #224b9e;
                        margin-left: -1px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-right: 10px;
                        font-size: 12px;
                        font-family: Open Sans SemiBold;
                    }

                    ion-label{
                        font-size: 14px;
                        font-family: Open Sans SemiBold;
                    }
                }
            }

            ion-item::part(detail-icon){
                opacity: 1;
                color: #ffffff;
            }
        }

        .indexList{
            background: transparent;

            ion-item{
                --background: #00b9ff;
                border-radius: 25px;
                margin-bottom: 10px;
                color: #ffffff;
                --padding-start: 0px;
                --padding-end: 0px;

                div{
                    display: flex;
                    align-items: center;
                    flex-direction: row;

                    span{
                        height: 45px;
                        width: 45px;
                        background: #ffffff;
                        border-radius: 50%;
                        border: 2px solid #224b9e;
                        margin-left: -1px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-right: 10px;
                        font-size: 12px;
                        font-family: Open Sans SemiBold;
                    }

                    ion-label{
                        font-size: 14px;
                        font-family: Open Sans SemiBold;
                    }
                }
            }

            ion-item::part(detail-icon){
                opacity: 1;
                color: #ffffff;
            }
        }

        .companyList{
            background: transparent;

            ion-item{
                --background: #00b9ff;
                border-radius: 25px;
                margin-bottom: 10px;
                color: #ffffff;
                --padding-start: 0px;
                --padding-end: 0px;

                div{
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    width: 100%;

                    span{
                        height: 45px;
                        width: 45px;
                        background: #ffffff;
                        border-radius: 50%;
                        border: 2px solid #224b9e;
                        margin-left: -1px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-right: 10px;
                        font-size: 12px;
                        font-family: Open Sans SemiBold;
                    }

                    ion-text{
                        color: #ffffff;
                        width: 80%;

                        p{
                            width: 95%;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            margin: 0;
                        }
                    }
                }
            }
        }
    }

    ion-row{
        background: #00b9ff;

        hr{
            height: 0px;
            margin: 0px;
            border: 1px solid #ffffff;
        }

        ion-col:last-child{
            height: 70%;

            ion-list{
                height: 100%;
                overflow: auto;

                ion-item{
                    --min-height: 35px;

                    ion-label{
                        margin: 0;
                        margin-bottom: 5px;
                        color: #fff;
                        font-size: 14px;
                        font-family: Open Sans SemiBold;
                    }
                }
            }
        }

        ion-item{
            --background: #00b9ff;
            --padding-start: 10px;
            --padding-end: 0px;
            --inner-padding-end: 0;

            div{
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-end;

                ion-text{
                    color: #fff;
                    p:first-child{
                        margin: 0;
                        margin-top: 5px;
                        font-family: Omnes;
                        font-size: 14px;
                    }
                    p:last-child{
                        margin: 0;
                        margin-top: 10px;
                        font-family: Open Sans SemiBold;
                        font-size: 14px;
                    }
                }

                ion-icon{
                    height: 35px;
                    width: 35px;
                    color: #ffffff;
                }
            }
            
        }
        
    }
}

ion-card-content{
    ion-list{
        height: 100%;
        overflow: auto;
    }

    ion-list::-webkit-scrollbar {
        display: none;
    }
}