<ion-header>
  <ion-toolbar>
    <img src="../../assets/images/NAA_Logo_Mobile.svg" height="35" alt="Logo">
  </ion-toolbar>
</ion-header>

<ion-content forceOverscroll=false>
  <div class="outerDiv">
      <div>
        <div class="imgdiv">
          <img src="../../assets/images/NAA_aboutUs_tools.png" />
        </div>
        <div>
          <div *ngIf="showMessage==''">
            <div class="textdiv">
              <ion-text class="text">
                An Email has been sent to the email address you provided for validation.
              </ion-text>
            </div>
            <div class="textdiv">
              <ion-text class="text">
                Please check your inbox.
              </ion-text>
            </div>
            <div class="loginDiv">
              <ion-button class="loginBtn" expand="block" (click)="onLoginClick()">
                Login
              </ion-button>
            </div>
          </div>
          <div *ngIf="showMessage=='successfullyreset'">
            <div class="textdiv">
              <ion-text class="text">
                An Email has been sent to the email address you provided.
              </ion-text>
            </div>
            <div class="textdiv">
              <ion-text class="text">
                Please check your inbox.
              </ion-text>
            </div>
            <div class="loginDiv">
              <ion-button class="loginBtn" expand="block" (click)="onLoginClick()">
                Login
              </ion-button>
            </div>
          </div>
          <div *ngIf="showMessage=='successfullychanged'">
            <div class="textdiv">
              <ion-text class="text">
                Passsword has been successfully updated.
              </ion-text>
            </div>
            <div class="loginDiv">
              <ion-button class="loginBtn" expand="block" (click)="onLoginClick()">
                Login
              </ion-button>
            </div>
          </div>
        </div>
      </div>
  </div>
</ion-content>