<!-- Page Header Start -->
<ion-header>
  <ion-toolbar>
    <img src="../../assets/images/NAA_Logo_Mobile.svg" height="35" alt="Logo">
  </ion-toolbar>
</ion-header>
<!-- Page Header End -->

<!-- Page Content Start -->
<ion-content forceOverscroll=false>
  <div class="outerDiv">
      <div>
        <div class="imgdiv">
          <img src="../../assets/images/NAA_aboutUs_tools.png" />
        </div>
        <div>

          <!-- Message 1-->
          <div *ngIf="showMessage==''">
            <div class="textdiv">
              <ion-text class="text">
                An Email has been sent to the email address you provided for validation.
              </ion-text>
            </div>
            <div class="textdiv">
              <ion-text class="text">
                Please check your inbox.
              </ion-text>
            </div>

            <!-- Login Button Start -->
            <div class="loginDiv">
              <ion-button class="loginBtn" expand="full" (click)="onLoginClick()">
                Login
              </ion-button>
            </div>
            <!-- Login Button End -->
          </div>

<!-- Message 2-->
          <div *ngIf="showMessage=='successfullyreset'">
            <div class="textdiv">
              <ion-text class="text">
                An Email has been sent to the email address you provided.
              </ion-text>
            </div>
            <div class="textdiv">
              <ion-text class="text">
                Please check your inbox.
              </ion-text>
            </div>

            <!-- Login Button Start -->
            <div class="loginDiv">
              <ion-button class="loginBtn" expand="full" (click)="onLoginClick()">
                Login
              </ion-button>
            </div>
            <!-- Login Button End -->
          </div>

          <!-- Message 3 -->
          <div *ngIf="showMessage=='successfullychanged'">
            <div class="textdiv">
              <ion-text class="text">
                Passsword has been successfully updated.
              </ion-text>
            </div>

            <!-- Login Button Start -->
            <div class="loginDiv">
              <ion-button class="loginBtn" expand="full" (click)="onLoginClick()">
                Login
              </ion-button>
            </div>
            <!-- Login Button End -->
          </div>
        </div>
      </div>
  </div>
</ion-content>
<!-- Page Content End -->