ion-content{

    --ion-background-color:#d3d8dc;

}

.card{
    background-color: #2e4c99;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    // width: 100%;
    // min-height: 96vh;                
}

.imgdiv{
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    img{
        width: 200px;
    }
}

.text{
    color: white;
    font-size: 14px;
    font-family: Open Sans SemiBold;
}

.textdiv{
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}

.loginBtn{
    --background: linear-gradient(45deg, #00b9ff 0%, #2e4c99 100%);
    --background-activated: linear-gradient(45deg, #00b9ff 0%, #2e4c99 100%);
    --background-focused: linear-gradient(45deg, #00b9ff 0%, #2e4c99 100%);
    --background-hover: linear-gradient(45deg, #00b9ff 0%, #2e4c99 100%); 
    --color	: #ffffff;
    --ripple-color : #9a9a9a;
    --color-activated : #ffffff;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    --border-radius: 15px;
    height: 37px;
    font-family: Open Sans semiBold;
    font-size: 17px;
    text-transform: inherit;
}

.loginDiv{
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 5vh;
}