ion-header ion-toolbar{
    --background: #2d6ddb!important;
    padding: 10px;
    --border-width:0;
}

ion-content{

    --background: #2d6ddb!important;

}

.outerDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.imgdiv{
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    img{
        width: 200px;
    }
}

.text{
    color: white;
    font-size: 14px;
    font-family: Open Sans SemiBold;
}

.textdiv{
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}

.loginBtn{
    --background: #00aeef;
    --color:#ffffff;
    font-size: 14px;
    height: 35px;
    --background-activated: #2d6ddb!important;
    margin: 0;
    font-family: 'Open Sans SemiBold';
}

.loginBtn:active,.loginBtn:focus{
    border: 2px solid #fff;
}

.loginDiv{
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 5vh;
}