<div>
  <div>
    <div
      style="display: flex; flex-direction: row; background-color: #ffffff; align-items: center; height: 80px; padding: 10px;">
      <span style="border: 2px solid #00b9ff; border-radius: 50%; padding: 10px; margin: 0 10px 0 0;">
        <img src="../../assets/images/Profile_NAA6.svg" alt="Profile" style="width: 25px; height: 25px;">
      </span>
      <div>
        <p style="margin: 0px;">Hi, {{firstname}} {{lastname}}</p>
        <p style="margin: 0px; overflow: hidden; text-overflow: ellipsis; width: 210px; white-space: nowrap;">{{username}}</p>
      </div>
    </div>
    <div style="    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    padding: 10px;
    background-color: #ffffff;" (click)="onChangePasswordClick()">
      <img src="../../../assets/images/password.png" alt="change_password"
        style=" height: 40px; width: 40px; margin: 0 10px 0 0;">
      <p>Change Password</p>
    </div>
    <div style="background-color: #ffffff; padding: 10px 0;">
    <hr style=" border: 1px solid #2e4c99; margin: 0 30px; padding: 0px; height: 0px;">
  </div>
    <div style="height: 50px; background-color: #ffffff; display: flex; flex-direction: row; justify-content: space-evenly; align-items: center;">
      <ion-button (click)="onLogoutClick()" size="small" shape="round" style="color: #ffffff; --background: #2e4c99;">
        <ion-icon name="power" style=" height: 25px; width: 25px; color: white;"></ion-icon>
        Logout
      </ion-button>
      <ion-button (click)="DismissClick()" fill="outline" size="small" shape="round" style="--border-color: #2e4c99;">
        Cancel
      </ion-button>
    </div>
  </div>

</div>