<ion-content>
  <div style="display: block;">
    <form [formGroup]="forgotPass">
    <ion-card class="card">
      <ion-card-header style="padding: 0px;">
        <ion-card-title class="cardTitle">Forgot Password</ion-card-title>
      </ion-card-header>
      <ion-card-content class="overfloscroll" style="padding: 0px;">
        <div class="form">
            <div class="flex_item">
                <ion-label class="label">Last Name<ion-text color="danger"> *</ion-text>
                </ion-label>
                <ion-item lines="none" class="input">
                    <ion-input type="text" placeholder="Last Name" formControlName="LastName">
                    </ion-input>
                </ion-item>
            </div>
            <div class="flex_item">
              <ion-label class="label">Email<ion-text color="danger"> *</ion-text>
              </ion-label>
              <ion-item lines="none" class="input">
                  <ion-input type="email" placeholder="Email Address" formControlName="Email">
                  </ion-input>
              </ion-item>
          </div>
          <div class="flex_item">
          <div class="inner_flex">
            <ion-button class="submitBtn" size="medium" expand="block" (click)="OnSubmitClick()" [disabled]="!forgotPass.valid">
                Submit
            </ion-button>
        </div>
        <div>
          <ion-button class="loginBtn" size="medium" expand="block" (click)="OnLoginClick()">
              Login
          </ion-button>
      </div>
    </div>
        </div>
      </ion-card-content>
    </ion-card>
  </form>
  </div>
</ion-content>