<!-- Page Header Start -->
<ion-header class="ion-no-border">
  <ion-toolbar>
    <img src="../../assets/images/NAA_Logo_Mobile.svg" height="35" alt="Logo">
  </ion-toolbar>
</ion-header>
<!-- Page Header End -->

<!-- Page Content Start -->
<ion-content forceOverscroll=false>
  <div class="outerdiv">

    <!-- Forgot Password Form Start -->
    <form [formGroup]="forgotPass">
      <ion-text>
        <h1>Forgot Password</h1>
      </ion-text>

      <!-- Email Id Input Start -->
      <div>
        <ion-label class="label">Email<ion-text color="danger"> *</ion-text>
        </ion-label>
        <ion-item lines="none" class="input" lines="none">
          <ion-input autofocus="true" inputmode="email" (ionInput)="onemialTextInput()" enterkeyhint="Submit"
            placeholder="Email Address" formControlName="Email" (ionInput)="onemialTextInput()">
          </ion-input>
        </ion-item>

        <!-- Email Id Error Messages Start -->
        <div style="color: #f44336; padding-top: 0.2rem; font-size: 11px; font-family: Open Sans;"
          *ngIf="hasError('Email', 'required') && email">An email address is required</div>
        <div style="color: #f44336; padding-top: 0.2rem; font-size: 11px; font-family: Open Sans;"
          *ngIf="hasError('Email', 'email') && email">Please enter a valid email address</div>
        <!-- Email Id Error Messages End -->
      </div>
      <!-- Email Id Input End -->

      <!-- Submit Button Start -->
      <ion-button class="submitBtn" size="medium" expand="full" (click)="OnSubmitClick()"
        [disabled]="!forgotPass.valid">
        <ion-spinner *ngIf="showLoad" name="crescent"></ion-spinner>&nbsp;{{showLoad?'Submitting...':'Submit'}}
      </ion-button>
      <!-- Submit Button End -->

      <!-- Login Button Start -->
      <ion-button class="loginBtn" fill="clear" size="medium" expand="block" (click)="OnLoginClick()">
        Login
      </ion-button>
      <!-- Login Button End -->
    </form>
    <!-- Forgot Password Form End -->
  </div>
</ion-content>
<!-- Page Content End -->