ion-content{

    --ion-background-color:#d3d8dc;

}

.card{
    --background: linear-gradient(180deg,#2E4C99, #233771);  
    height: 100vh;
    margin: 0;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;               
}

.outercard{
    height: 90%;
    width: 90%;
    background: #d3d8dc;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.outercardmobile{
    height: 100% !important;
    width: 100% !important;
    margin: 0 !important;
    border-radius: 0 !important;
}

.innercard{
    height: 85%;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    --background: linear-gradient(180deg,#2E4C99, #233771);  
    border-radius: 20px;

    .card-Content{
        width: 40%;
    }
}

.innercardmobile{
    height: 95% !important;
    width: 95% !important;

    .card-Content{
        width: 90% !important;
    }
}

.scrolldiv{    
     overflow: hidden;
}

.cardTitle
{
    font-family: Open Sans Bold;
    text-align: center; 
    color: #00aeef; 
    font-size: 32px;
    font-weight: bold;
    padding-top: 15px;
}

.form{
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    justify-content: center;
}

.flex_item{
    // margin-top: 2%;
    padding: 10px;

    ion-item{
        --min-height: 37px;
        font-size: 13px;
        --padding-start: 10px;

        ion-input{
            --padding-bottom: 0;
            --padding-start: 0;
            --padding-end: 0;
            --padding-top: 0;
        }
        
    }
    
}

.label{
    color: white;
    font-size: 13px;
    font-family: Open Sans;
    padding-left: 5px;
    // margin-bottom: 2%;
}

.input{
    --background: white;
    color: black;
}

.submitBtn{
    --background: linear-gradient(45deg, #00b9ff 0%, #2e4c99 100%);
    --background-activated: linear-gradient(45deg, #00b9ff 0%, #2e4c99 100%);
    --background-focused: linear-gradient(45deg, #00b9ff 0%, #2e4c99 100%);
    --background-hover: linear-gradient(45deg, #00b9ff 0%, #2e4c99 100%); 
    --color	: #ffffff;
    --ripple-color : #9a9a9a;
    --color-activated : #ffffff;
    --border-radius: 15px;
    height: 50px;
    font-size: 22px;
    text-transform: inherit;
}

.loginBtn{
     color: #00b9ff;
    --color-activated: #00b9ff;
    height: 33px;
    text-transform: inherit;
    font-family: Open Sans semiBold;
    font-size: 13px;
}

.inner_flex{
    padding: 10px 0px;

    ion-button{
        font-family: Open Sans semiBold;
        font-size: 15px;
        height: 36px;
    }
}

@media screen and (orientation:landscape) {
    .overfloscroll{
        overflow: auto;
    }
    .overfloscroll::-webkit-scrollbar, *::-webkit-scrollbar { 
        display: none; 
    }

    .innercardmobile .card-Content{
        width: 40vW !important;
    }
}

.tab_background{
    --background: url('../../assets/images/Tool_BG.svg') !important;
}