ion-content{

    --background: #274b9e;

    .outerdiv{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 25px;

        ion-text{
            h1{
                color:  #00b9ff;
                font-size: 35px;
                font-family: Open Sans Bold;
                text-align: center;
                margin-top: 0;
                margin-bottom: 30px;
            }
        }

        ion-label{
            color: white;
            font-size: 13px;
            font-family: Open Sans;
            padding-left: 5px;
        }

        ion-item{
                    --min-height: 37px;
                    font-size: 13px;
                    --padding-start: 10px;
            
                    ion-input{
                        --padding-bottom: 0;
                        --padding-start: 0;
                        --padding-end: 0;
                        --padding-top: 0;
                    }
                    
                }

        div{
            margin-bottom: 50px;
        }

        .submitBtn{
            --background: #00b9ff;
            --background-activated: #00b9ff;
            --background-focused: #00b9ff;
            --background-hover: #00b9ff;
            --color: #ffffff;
            --ripple-color: #9a9a9a;
            --color-activated: #ffffff;
            --border-radius: 25px;
            height: 40px;
            font-size: 20px;
            text-transform: inherit;
            margin-bottom: 15px;
        }

        .loginBtn{
            color: #00b9ff;
            --color-activated: #00b9ff;
            height: 33px;
            text-transform: inherit;
            font-family: Open Sans semiBold;
            font-size: 13px;
        }
    }

}

ion-header ion-toolbar{
    --background: #274b9e;
    padding: 10px;
    --border-width:0;
}

// .innercard{
//     height: 85%;
//     width: 85%;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     --background: #274b9e;   
//     border-radius: 0px;
    

//     .card-Content{
//         width: 40%;
//     }
// }

// .innercardmobile{
//     height: 100% !important;
//     width: 100% !important;
//     margin: 0 !important;
//     border-radius: 0 !important;
//     box-shadow: none !important;

//     .card-Content{
//         width: 90% !important;
//     }
// }

// .scrolldiv{    
//      overflow: hidden;
// }

// .cardTitle
// {
//     font-family: Open Sans Bold;
//     text-align: center; 
//     color: #00aeef; 
//     font-size: 32px;
//     font-weight: bold;
//     padding-top: 15px;
// }

// .form{
//     display: flex;
//     flex-direction: column;
//     padding: 20px 0;
//     justify-content: center;
// }

// .flex_item{
//     // margin-top: 2%;
//     padding: 10px;

//     ion-item{
//         --min-height: 37px;
//         font-size: 13px;
//         --padding-start: 10px;

//         ion-input{
//             --padding-bottom: 0;
//             --padding-start: 0;
//             --padding-end: 0;
//             --padding-top: 0;
//         }
        
//     }
    
// }

// .label{
//     color: white;
//     font-size: 13px;
//     font-family: Open Sans;
//     padding-left: 5px;
//     // margin-bottom: 2%;
// }

.input{
    --background: white;
    color: black;
}

// .submitBtn{
//     --border-radius: 15px; font-size: 22px; height: 50px; 
//             --background: #00b9ff;
//             --background-activated:  #00b9ff;
//             --background-focused:  #00b9ff;
//             --background-hover: #00b9ff;
//     --color	: #ffffff;
//     --ripple-color : #9a9a9a;
//     --color-activated : #ffffff;
//     --border-radius: 15px;
//     height: 50px;
//     font-size: 22px;
//     text-transform: inherit;
// }

// .loginBtn{
//      color: #00b9ff;
//     --color-activated: #00b9ff;
//     height: 33px;
//     text-transform: inherit;
//     font-family: Open Sans semiBold;
//     font-size: 13px;
// }

// .inner_flex{
//     padding: 10px 0px;

//     ion-button{
//         font-family: Open Sans semiBold;
//         font-size: 15px;
//         height: 36px;
//     }
// }

// @media screen and (orientation:landscape) {
//     .overfloscroll{
//         overflow: auto;
//     }
//     .overfloscroll::-webkit-scrollbar, *::-webkit-scrollbar { 
//         display: none; 
//     }

//     .innercardmobile .card-Content{
//         width: 40vW !important;
//     }
// }

// .tab_background{
//     --background: url('../../assets/images/Tool_BG.svg') !important;
// }