<!-- navBar start -->
<ion-header class="ion-text-center" *ngIf="mobile">
  <ion-toolbar class="toolbar">
    <div class="header-Logo" [ngClass]="{'ipad_Logo': !mobile}">
      <img src="../../assets/images/NAA_Logo_Mobile.svg" alt="NewAgeAlpha" width="auto">
      
        <div (click)="openMenu()">
          <ion-avatar>
            <img src="../../assets/images/Profile_NAA5.svg" />
          </ion-avatar>
            <p>{{currentUser.firstName}}&nbsp;{{currentUser.lastName}}</p>
        </div>
    </div>
    
  </ion-toolbar>
  <ion-toolbar> 
    <!-- SearchBar start -->
      <div class="searchDiv">
        <ion-item class="searchItem" lines="none" (click)="openSearch()">
          <ion-label>
            <ion-icon name="search" ></ion-icon>
            <p>Ticker or company name</p>
            <!-- <p *ngIf="this.SelTab == 'ETF' || this.SelTab == 'ETFChild'">ETF ticker or name</p> -->
            </ion-label>
        </ion-item>
      </div>
       <!-- SearchBar End-->
  </ion-toolbar>
  <hr>
</ion-header>

<ion-content forceOverscroll="false" *ngIf="!selComp && !AvoidLosersec && !AlertSec && !ReportSec">
  <div>
    <ion-text>
      <p>To begin, use the Search Bar</p>
      <p>to select a stock.</p>
    </ion-text>
  </div>
  <div class="footor_icon_div">
    <img src="../../assets/images/Portfolio_Icon_Mobile.svg">
    <img src="../../assets/images/Compare_Icon_Mobile.svg">
    <img src='../../assets/images/Avoid Loser_Icon_Mobile.svg' style="opacity:0.5 ;">
    <img src='../../assets/images/Notification_Icon_Mobile.svg' style="opacity:0.5 ;">
    <img src='../../assets/images/Report_Download_Icon_Mobile.svg' style="opacity:0.5 ;">
  </div>
</ion-content>

<ion-content forceOverscroll="false" *ngIf="selComp && !AvoidLosersec && !AlertSec && !ReportSec" class="MainContent">
    <ion-item *ngIf="selSec" lines="none" (click)="openSecPopOver($event)" class="secDropDown">
      <div>
        <span class="sec_Detail">
          <span class="medItemSpan"><p [style.color]="getColor(selSec.secMed)">{{selSec.secMed}}</p></span>
          <span class="Sec_Details_Sub">
            <p>{{selSec.secTitle}}&nbsp;(<span>{{selComp.indexName}}</span>)</p>
            <p>{{selSec.secName}}</p>
          </span>
      </span>
      <ion-icon name="chevron-down-circle-outline"></ion-icon>
      </div>
    </ion-item>
    <div class="arrow_div">
      <ion-icon *ngIf="CurrSlide == 1" name='chevron-back-circle-outline' (click)="onArrowClick(0);" style="color: #fff;"></ion-icon>
      <img *ngIf="CurrSlide == 0" src="../../assets/images/Left Arrow Active.svg" alt="LA" style="height: 35px;">
      <ion-icon *ngIf="CurrSlide == 0" name='chevron-forward-circle-outline' (click)="onArrowClick(1);" style="color: #fff;"></ion-icon>
      <img *ngIf="CurrSlide == 1" src="../../assets/images/Right Arrow Active.svg" alt="RA" style="height: 35px;">
    </div>
    <ion-slides id='MainSlider' mode="ios" [options]='slideOpts' (ionSlideDidChange)="onSlideChange($event)">
      <ion-slide class="CompSlide">
        <ion-list id="CompList">
          <ion-item *ngFor="let item of selIndexData" lines="none" class="compItem" [class.active]="selComp === item" (click)="onCompanyClick(item)">
              <span [style.color]="getColor(roundMed(item.scores *100))">{{roundMed(item.scores *100)}}</span>
              <div><p [style.color]="selComp === item? getColor(roundMed(item.scores *100)) : '#fff'">{{item.companyName}}</p>
              <p [style.color]="selComp === item? getColor(roundMed(item.scores *100)) : '#fff'">{{item.ticker}}</p></div>
          </ion-item>
        </ion-list>
      </ion-slide>
      <ion-slide class="circleSlide">
        <svg preserveAspectRatio="xMidYMid meet" id="svgHContainer1" viewBox="0 0 700 550" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" version="1.1">
          <g id="gchart" transform="translate(345 ,260)"></g>
        </svg>
        <div id="Circleloader" style="height: 100%;
        width: 100%;
        display: none;
        justify-content: center;
        align-items: center;
        position: absolute;" >
          <img src="../../assets/images/NAA.gif" alt="Loading..." style="    height: 30px;
          width: 30px;">
        </div>
      </ion-slide>  
    </ion-slides>
  <div class="footor_icon_div">
    <img src="../../assets/images/Portfolio_Icon_Mobile.svg">
    <img src="../../assets/images/Compare_Icon_Mobile.svg">
    <img [src]="AvoidLosersec? '../../assets/images/Avoid Loser_Blue_Icon_Mobile.svg' : '../../assets/images/Avoid Loser_Icon_Mobile.svg'" (click)="onAvoidLoserClick()">
    <img [src]="AlertSec? '../../assets/images/Notification_Blue_Icon_Mobile.svg' : '../../assets/images/Notification_Icon_Mobile.svg'" (click)="onAlertClick()">
    <img [src]="ReportSec? '../../assets/images/Report_Download_Blue_Icon_Mobile.svg' : '../../assets/images/Report_Download_Icon_Mobile.svg'" (click)="onReportClick()">
  </div>
</ion-content>

<ion-content *ngIf="selComp && AvoidLosersec" class="avoid_looser_content">
  <ion-item *ngIf="selSec" lines="none" (click)="openSecPopOver($event)" class="secDropDown">
    <div>
      <span class="sec_Detail">
        <span class="medItemSpan"><p [style.color]="getColor(selSec.secMed)">{{selSec.secMed}}</p></span>
        <span class="Sec_Details_Sub">
          <p>{{selSec.secTitle}}&nbsp;(<span>{{selComp.indexName}}</span>)</p>
          <p>{{selSec.secName}}</p>
        </span>
    </span>
    <ion-icon name="chevron-down-circle-outline"></ion-icon>
    </div>
  </ion-item>
  <div style="width: 100%;
  height: calc(100vh - 285px);" *ngIf="!avoidSlides" class="R_slider">
  <svg preserveAspectRatio="xMidYMid meet" id="svgHContainer1" viewBox="0 0 450 550" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" version="1.1">
    <g id="gchart" transform="translate(225 ,260)"></g>
  </svg>
</div>
<div class="arrow_div" *ngIf="avoidSlides">
  <ion-icon *ngIf="AL_CurrSlide != 0" name='chevron-back-circle-outline' (click)="onALArrowClick('prev');" style="color: #fff;"></ion-icon>
  <img *ngIf="AL_CurrSlide == 0" src="../../assets/images/Left Arrow Active.svg" alt="LA" style="height: 35px;">
  <ion-icon *ngIf="AL_CurrSlide != 2" name='chevron-forward-circle-outline' (click)="onALArrowClick('frwd');" style="color: #fff;"></ion-icon>
  <img *ngIf="AL_CurrSlide == 2" src="../../assets/images/Right Arrow Active.svg" alt="RA" style="height: 35px;">
</div>
<ion-slides mode="ios" *ngIf="avoidSlides" [options]='slideOpts' (ionSlideDidChange)="onALSlideChange($event)" id="AL_Slider">
  <ion-slide class="CompSlide">
    <ion-list id="CompList" *ngIf="AL_FilteredList.length != 0">
      <ion-item *ngFor="let item of AL_FilteredList" lines="none" class="compItem" [class.active]="selComp === item">
          <span [style.color]="getColor(roundMed(item.scores *100))">{{roundMed(item.scores *100)}}</span>
          <div><p [style.color]="selComp === item? getColor(roundMed(item.scores *100)) : '#fff'">{{item.companyName}}</p>
          <p [style.color]="selComp === item? getColor(roundMed(item.scores *100)) : '#fff'">{{item.ticker}}</p></div>
      </ion-item>
    </ion-list>
    <div *ngIf="AL_FilteredList.length == 0">
      <p style="    font-family: 'Open Sans SemiBold';
      color: #fff;
      font-size: 16px;">No company to show</p>
    </div>
  </ion-slide>
  <ion-slide class="CircleSlider">
    <svg *ngIf="AL_mainCircle" preserveAspectRatio="xMidYMid meet" id="svgHContainer1" viewBox="0 0 700 550" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" version="1.1">
      <g id="gchart" transform="translate(345 ,260)"></g>
      <!-- <g id="AL_CircleContent" transform="translate(345 ,260)">
        <foreignobject height="200" width="200" style="  background: #fff; transform: translate(-151px, -31px); border-radius: 50%;">
          <xhtml:div class="AL_outerDiv">
            <xhtml:div style="height: 50px;width: 50px;">

          </xhtml:div>
          </xhtml:div>
        </foreignobject>
      </g> -->
    </svg>
  </ion-slide>
  <ion-slide class="rangeSlide R_slider">
    <svg *ngIf="AL_rangeCircle" preserveAspectRatio="xMidYMid meet" id="svgHContainer1" viewBox="0 0 450 550" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" version="1.1">
      <g id="gchart" transform="translate(225 ,260)"></g>
    </svg>
  </ion-slide>
</ion-slides>
  <div class="footor_icon_div">
    <img src="../../assets/images/Portfolio_Icon_Mobile.svg">
    <img src="../../assets/images/Compare_Icon_Mobile.svg">
    <img [src]="AvoidLosersec? '../../assets/images/Avoid Loser_Blue_Icon_Mobile.svg' : '../../assets/images/Avoid Loser_Icon_Mobile.svg'" (click)="onAvoidLoserClick()">
    <img [src]="AlertSec? '../../assets/images/Notification_Blue_Icon_Mobile.svg' : '../../assets/images/Notification_Icon_Mobile.svg'" (click)="onAlertClick()">
    <img [src]="ReportSec? '../../assets/images/Report_Download_Blue_Icon_Mobile.svg' : '../../assets/images/Report_Download_Icon_Mobile.svg'" (click)="onReportClick()">
  </div>
</ion-content>

<ion-content *ngIf="selComp && AlertSec" class="AlertContent">
  <div class="arrow_div">
    <ion-icon name="chevron-back-circle-outline" (click)="onAlertClick()"></ion-icon>
    <h1 class="Sub_title">Alert Settings</h1>
    <ion-icon name="chevron-forward-circle-outline" (click)="onAlertClick()"></ion-icon>
  </div>
  <div class="alertDiv">
    <ion-text>
      <h2>Set Alert For:&nbsp;{{selComp.companyName}}&nbsp;({{selComp.ticker}})</h2>
    </ion-text>
    <div class="radioBtnDiv">
      <ion-list>
        <ion-radio-group name="auto" [value]="selctedradioopts" mode="md" (ionChange)="onradioChange($event)">
          <ion-item lines="none">
            <ion-radio value="daily"></ion-radio>
            <ion-label>Daily</ion-label>
          </ion-item>
          <ion-item lines="none">
            <ion-radio value="weekly"></ion-radio>
            <ion-label>Weekly</ion-label>
          </ion-item>
          <div class="weekly_Div" *ngIf="weeklyDiv">
            <span [ngClass]="{'active': selWeeklyday == 'Sunday'}" (click)="onWeeklyClick('Sunday')">S</span>
            <span [ngClass]="{'active': selWeeklyday == 'Monday'}" (click)="onWeeklyClick('Monday')">M</span>
            <span [ngClass]="{'active': selWeeklyday == 'Tuesday'}" (click)="onWeeklyClick('Tuesday')">T</span>
            <span [ngClass]="{'active': selWeeklyday == 'Wednesday'}" (click)="onWeeklyClick('Wednesday')">W</span>
            <span [ngClass]="{'active': selWeeklyday == 'Thursday'}" (click)="onWeeklyClick('Thursday')">T</span>
            <span [ngClass]="{'active': selWeeklyday == 'Friday'}" (click)="onWeeklyClick('Friday')">F</span>
            <span [ngClass]="{'active': selWeeklyday == 'Saturday'}" (click)="onWeeklyClick('Saturday')">S</span>
          </div>
          <ion-item lines="none">
            <ion-radio value="monthly"></ion-radio>
            <ion-label>Monthly</ion-label>
          </ion-item>
          <ion-item (click)="showMonthlyPicker($event)" lines="none" *ngIf="monthlyBtn" style="    display: flex;
            align-items: center; --min-height: 30px;">
              <ion-label slot="start">Date</ion-label>
              <ion-label slot="end">{{monthlyDate}}</ion-label>
            </ion-item>
        </ion-radio-group>
      </ion-list>
      <ion-list>
        <ion-radio-group name="auto" mode="md" [value]="perRadioGrp" allowEmptySelection=true (ionChange)="onperRadioChange($event)">
          <ion-item lines="none">
            <ion-radio value="percentage"></ion-radio>
            <ion-label>If score percentage changes by (+/-)</ion-label>
          </ion-item>
        </ion-radio-group>
        <ion-item *ngIf="percentageRage" lines="none" style="    --padding-start: 0;">
          <ion-range class="per_range" min="1" max="100" mode="ios" pin=true [value]='rangePer' *ngIf="percentageRage" (ionChange)="setRangePer($event)">
            <ion-label slot="start">1%</ion-label>
            <ion-label slot="end">100%</ion-label>
          </ion-range>
        </ion-item>
      </ion-list>
    </div>
    <div style="width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;">
      <ion-button *ngIf="alertSubmitBtn" (click)="onAlertSubmit($event)"  shape="round">
        Submit
      </ion-button>
      <ion-button *ngIf="alertUpdateBtn" (click)="onAlertSubmit($event)" shape="round">
        Update
      </ion-button>
      <ion-button *ngIf="!alertSubmitBtn" (click)="onRemoveAlert($event)" shape="round">
        Remove
      </ion-button>
      
    </div>
  </div>
  <div class="footor_icon_div">
    <img src="../../assets/images/Portfolio_Icon_Mobile.svg">
    <img src="../../assets/images/Compare_Icon_Mobile.svg">
    <img [src]="AvoidLosersec? '../../assets/images/Avoid Loser_Blue_Icon_Mobile.svg' : '../../assets/images/Avoid Loser_Icon_Mobile.svg'" (click)="onAvoidLoserClick()">
    <img [src]="AlertSec? '../../assets/images/Notification_Blue_Icon_Mobile.svg' : '../../assets/images/Notification_Icon_Mobile.svg'" (click)="onAlertClick()">
    <img [src]="ReportSec? '../../assets/images/Report_Download_Blue_Icon_Mobile.svg' : '../../assets/images/Report_Download_Icon_Mobile.svg'" (click)="onReportClick()">
  </div>
</ion-content>

<ion-content *ngIf="selComp && ReportSec" class="ReportContent">
  <div class="arrow_div">
    <ion-icon name="chevron-back-circle-outline" (click)="onReportClick()"></ion-icon>
    <h1 class="Sub_title">Download Report</h1>
    <ion-icon name="chevron-forward-circle-outline" (click)="onReportClick()"></ion-icon>
  </div>
  <div class="reportDiv">
    <ion-button (click)="onPDFClick()" shape="round" class="pdfBtn" disabled=true>
      PDF
    </ion-button>

    <ion-list>
      <ion-radio-group name="auto" value="mail" mode="md">
        <ion-list-header>
          <ion-label class="list_header">Email Report</ion-label>
        </ion-list-header>
        <ion-item lines="none">
          <ion-radio value="mail"></ion-radio>
          <ion-label>{{currentUser.username}}</ion-label>
        </ion-item>
      </ion-radio-group>
    </ion-list>

    <ion-button (click)="onSendClick()" shape="round" class="sendBtn" disabled=true>
      Send
    </ion-button>
  </div>

  <div class="footor_icon_div">
    <img src="../../assets/images/Portfolio_Icon_Mobile.svg">
    <img src="../../assets/images/Compare_Icon_Mobile.svg">
    <img [src]="AvoidLosersec? '../../assets/images/Avoid Loser_Blue_Icon_Mobile.svg' : '../../assets/images/Avoid Loser_Icon_Mobile.svg'" (click)="onAvoidLoserClick()">
    <img [src]="AlertSec? '../../assets/images/Notification_Blue_Icon_Mobile.svg' : '../../assets/images/Notification_Icon_Mobile.svg'" (click)="onAlertClick()">
    <img [src]="ReportSec? '../../assets/images/Report_Download_Blue_Icon_Mobile.svg' : '../../assets/images/Report_Download_Icon_Mobile.svg'" (click)="onReportClick()">
  </div>
</ion-content>

<div *ngIf="data.length == 0" style="    position: absolute;
z-index: 99;
left: 0;
right: 0;
top: 0;
bottom: 0;
display: flex;
justify-content: center;
align-items: center;">
  <img src="../../assets/images/NAA.gif" alt="Loading..." style="height: 35px;
  width: 35px;">
</div>

<div *ngIf="showLoader" style="    position: absolute;
z-index: 99;
left: 0;
right: 0;
top: 0;
bottom: 0;
display: flex;
justify-content: center;
align-items: center;
/* background: rgb(0, 0, 0, 0.5); */
">
  <img src="../../assets/images/NAA.gif" alt="Loading..." style="height: 35px;
  width: 35px;">
</div>