<!-- navBar start -->
<ion-header class="ion-text-center" *ngIf="mobile">
  <ion-toolbar class="toolbar">
    <!-- <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons> -->
    <!-- <ion-buttons slot="end" *ngIf="mobile">
      <ion-icon style="color:#ffffff; height: 20px; width: 20px; padding: 10px;" (click)="onSortClick()" name = 'funnel' *ngIf="!showFilter"></ion-icon>
    </ion-buttons> -->
    <div class="header-Logo" [ngClass]="{'ipad_Logo': !mobile}">
      <img src="../../assets/images/NAA_Logo_Mobile.svg" alt="NewAgeAlpha" width="auto">
      
        <div (click)="openMenu()">
          <ion-avatar>
            <img src="../../assets/images/Profile_NAA5.svg" />
          </ion-avatar>
            <p>{{currentUser.firstName}}&nbsp;{{currentUser.lastName}}</p>
        </div>
    </div>
    
    <!-- <div *ngIf="!mobile" style="position: absolute; top: 10px; right: 25px;">
      <div style="display: flex; flex-direction: row;">
        <div class="avatar" (click)="profilePopover($event)">
          <img src="../../assets/images/Profile_NAA5.svg" alt="Profile">
        </div>
      </div>
    </div> -->
  </ion-toolbar>
  <ion-toolbar>
    <!-- SearchBar start -->
      <div class="searchDiv">
        <ion-item class="searchItem" lines="none" (click)="openSearch()">
          <ion-label>
            <ion-icon name="search" ></ion-icon>
            <p>Ticker or company name</p>
            <!-- <p *ngIf="this.SelTab == 'ETF' || this.SelTab == 'ETFChild'">ETF ticker or name</p> -->
            </ion-label>
        </ion-item>
      </div>
       <!-- SearchBar End-->
  </ion-toolbar>
  <hr>
</ion-header>

<ion-content forceOverscroll="false" *ngIf="!selComp">
  <div>
    <ion-text>
      <p>To begin, use the Search Bar</p>
      <p>to select a stock.</p>
    </ion-text>
  </div>
  <div class="footor_icon_div">
    <img src="../../assets/images/Portfolio_Icon_Mobile.svg">
    <img src="../../assets/images/Compare_Icon_Mobile.svg">
    <img [src]="AvoidLosersec? '../../assets/images/Avoid Loser_Blue_Icon_Mobile.svg' : '../../assets/images/Avoid Loser_Icon_Mobile.svg'" (click)="onAvoidLoserClick()">
    <img [src]="AlertSec? '../../assets/images/Notification_Blue_Icon_Mobile.svg' : '../../assets/images/Notification_Icon_Mobile.svg'" (click)="onAlertClick()">
    <img [src]="ReportSec? '../../assets/images/Report_Download_Blue_Icon_Mobile.svg' : '../../assets/images/Report_Download_Icon_Mobile.svg'" (click)="onReportClick()">
  </div>
</ion-content>

<ion-content forceOverscroll="false" *ngIf="selComp">
    <ion-item *ngIf="selSec" lines="none" (click)="openSecPopOver($event)">
      <div>
        <span class="sec_Detail">
          <span class="medItemSpan"><p [style.color]="getColor(selSec.secMed)">{{selSec.secMed}}</p></span>
          <span class="Sec_Details_Sub">
            <p>{{selSec.secTitle}}&nbsp;(<span>{{selComp.indexName}}</span>)</p>
            <p>{{selSec.secName}}</p>
          </span>
      </span>
      <ion-icon name="chevron-down-circle-outline"></ion-icon>
      </div>
    </ion-item>
  <div class="footor_icon_div">
    <img src="../../assets/images/Portfolio_Icon_Mobile.svg">
    <img src="../../assets/images/Compare_Icon_Mobile.svg">
    <img [src]="AvoidLosersec? '../../assets/images/Avoid Loser_Blue_Icon_Mobile.svg' : '../../assets/images/Avoid Loser_Icon_Mobile.svg'" (click)="onAvoidLoserClick()">
    <img [src]="AlertSec? '../../assets/images/Notification_Blue_Icon_Mobile.svg' : '../../assets/images/Notification_Icon_Mobile.svg'" (click)="onAlertClick()">
    <img [src]="ReportSec? '../../assets/images/Report_Download_Blue_Icon_Mobile.svg' : '../../assets/images/Report_Download_Icon_Mobile.svg'" (click)="onReportClick()">
  </div>
</ion-content>