.header-Logo{
    display: flex;
    padding-left: 10px;
    align-items: center;
    justify-content: space-between;
    padding-right: 5px;
    img{
        height: 30px;
    }
    div{
        width: 50%;
        background: white;
        border-radius: 25px;
        display: flex;
        flex-direction: row;
        align-items: center;
        ion-avatar{
            background: #00b9ff;
            --padding-bottom: 0;
            --padding-start: 0;
            --padding-end: 0;
            --padding-top: 0;
            height: 35px;
            width: 35px;
            padding: 5px;
            margin-right: 10px;
            margin-left: -1px;
        }
        p{
            margin: 0;
            font-size: 14px;
            font-family: Open Sans SemiBold;
            color: #00b9ff;
            width: 70%;
            text-align: left;
            
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
        }
    }
}

ion-header{
    ion-toolbar{
    --background: #274b9e;
    }
    ion-toolbar:nth-child(1){
        padding-top: 5px;
    }
    ion-toolbar:nth-child(2){
        padding: 0 25px;
    }
    hr{
        margin: 0;
        height: 2px;
        background-color: #1a356a;
    }
}

.searchBtn{
    --border-radius:15px;
    width: 75px;
    font-size: 11px;
    height: 24px;
    --padding-top: 0px;
    --padding-bottom: 0px; 
    margin-top: 4px;
    margin-bottom: 4px;  
    --background: #00aeef;
    --box-shadow: none;
}

.searchInput{
    font-size: 16px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --color:#666;
    text-align: center;
}

.searchItem{
    --border-width:2px;
    --border-color: #00b9ff; 
    --inner-padding-end: 5px;
    --background: transparent; 
    --border-radius: 25px;
    --min-height: 28px;
    ion-label{
        margin: 2px 0px;
        font-size: 14px;
        align-items: center;
        padding: 0 10px;
        display: flex;
        color: #888;
        ion-icon{
            color: #00b9ff;
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
            font-size: 18px;
            margin-right: 10px;
        }
        p{
            font-size: 16px;
            color: #fff;
            font-family: Open Sans Regular;
        }
    }
}

.searchDiv{
    padding: 5px 0px;
    padding-top: 2%;
}

ion-content{
    --background: #274b9e;
    --overflow: hidden;

    div{
        ion-text{
            color: #fff;
            font-size: 14px;
            text-align: center;
            font-family: Open Sans Regular;        
        }
    }

    .footor_icon_div{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        position: absolute;
        height: 15%;
        bottom: 0;
        left: 0;
        right: 0;
        align-items: center;

        img{
            height: 40px;
        }
        img:first-child, img:last-child{
            margin-bottom: 75px; 
        }

        img:nth-child(2), img:nth-child(4){
            margin-bottom: 25px;
        }

        img:first-child, img:nth-child(2){
            opacity: 0.5;
        }
    }
}

.MainContent{
    .secDropDown{
        --background: #00b9ff;
    border-radius: 25px;
    --padding-start: 0;
    --padding-end: 5px;
    --padding-top: 0;
    --padding-bottom: 0;
    margin: 10px 15px;
        div{
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            .sec_Detail{
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 90%;
                .medItemSpan{
                    height: 50px;
                    width: 50px;
                    background: #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    margin-right: 5px;
                    p{
                        font-family: Open Sans SemiBold;
                        margin: 0;
                        font-size: 14px;
                        color: #fff;
                    }
                }
                .Sec_Details_Sub{
                    width: 75%;
                    p{
                        margin: 0;
                        font-size: 14px;
                        color: #fff;
                    }
                    p:first-child{
                        font-family: Open Sans Regular;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    p:last-child{
                        font-family: Open Sans SemiBold;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }

            ion-icon{
                height: 40px;
                width: 40px;
                color: #fff;
            }
        }

        
    }

    .arrow_div{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 5px 15px;
        font-size: 40px;
        color: #fff;
    }

    .mdSlides{
        ion-slide{
            height: calc(100vh - 360px);
        }
    }

    .iosSlides{
        ion-slide{
            height: calc(100vh - 345px);
        }
    }

    ion-slides{
        // ion-slide{
        //     height: calc(100vh - 345px);
        // }

        .CompSlide{
            ion-list::-webkit-scrollbar {
                display: none;
              }
            ion-list{
                height: 100%;
                overflow: scroll;
                background: transparent;
                width: 75%;

                

                .compItem{
                    --background: #00b9ff;
                    display: flex;
                    flex-direction: row;
                    font-size: 12px;
                    font-family: Open Sans SemiBold;
                    border-radius: 25px;
                    --padding-start: 0;
                    --padding-top: 0;
                    --padding-end: 0;
                    --padding-bottom: 0;
                    --inner-padding-start: 0;
                    --inner-padding-end: 0;
                    margin-bottom: 10px;
                    p{
                        margin: 0;
                        color: #fff;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }

                    span{
                        height: 45px;
                        width: 45px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50%;
                        background: #fff;
                        margin-right: 10px;
                        border: 2px solid #274b9e;
                        margin-left: -2px;
                    }

                    div{
                        display: flex;
                        flex-direction: column;
                        align-items: unset;
                        width: 80%;
                        
                        p:last-child{
                            font-family: Open Sans SemiBold;
                        }
                    }
                }
            }
        }

        .circleSlide{
            .start-ring {
                stroke-width: 10px;
                stroke: #0e82e5;
                fill: #fff;
              }
        }
    }
}

.active{
    --background: #fff !important;
}

.ReportContent{
    .arrow_div{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 5px 15px;
        font-size: 40px;
        color: #fff;
        margin-top : 5px;

        .Sub_title{
            color: #fff;
            font-family: Open Sans Bold;
            margin: 0;
            font-size: 25px;
        }
    }

    .reportDiv{
        height: calc(100vh - 275px);
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        ion-button{
            height: 35px;
            width: 30%;
            --background: #00b9ff;
            --background-activated: #00b9ff;
            --color: #fff;
        }

        ion-list{
            background: #274b9e;

            ion-list-header{
                padding-inline-start: 0;
                margin-bottom: 5%;

                .list_header{
                    color: #fff;
                    font-size: 20px;
                    font-family: 'Open Sans SemiBold';
                    text-align: center;
                }
            }
            

            ion-item{
                --background: transparent;
                --ripple-color: transparent;

                ion-radio{
                    --color-checked: #00b9ff;
                    --color: #fff;
                    margin-right: 10px;
                }

                ion-radio::part(container){
                    border-color: #fff !important;
                }

                ion-label{
                    --color: #fff;
                    font-size: 16px;
                    font-family: 'Open Sans';
                }
            }
        }

        .pdfBtn{
                margin-bottom: 20%;
        }

        .sendBtn{
            margin-top: 12%;
        }
    }
}

.AlertContent{
    .arrow_div{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 5px 15px;
        font-size: 40px;
        color: #fff;
        margin-top : 5px;

        .Sub_title{
            color: #fff;
            font-family: Open Sans Bold;
            margin: 0;
            font-size: 25px;
        }
    }

    .alertDiv{
        height: calc(100vh - 275px);
        width: 100%;
        display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

        ion-text{
            h2{
                font-size: 16px;
                font-family: Open Sans SemiBold;
            }
        }

        .radioBtnDiv{
            width: 85%;
            margin-top: 5%;

            ion-list{
                background: transparent;
                
                ion-item{
                    --background: transparent;
                    --ripple-color: transparent;
                    --min-height: 30px;
    
                    ion-label{
                        color: #fff;
                        font-size: 14px;
                        font-family: Open Sans Regular;
                    }
    
                    ion-radio{
                        --color-checked: #00b9ff;
                        --color: #fff;
                        margin-right: 10px;
                    }
    
                    ion-radio::part(container){
                        border-color: #fff !important;
                    }
                }

                .weekly_Div{
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    span{
                        height: 30px;
                        width: 30px;
                        border-radius: 50%;
                        color: #fff;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background: transparent;
                        transition: .3s;
                    }
                    .active{
                        background: #00b9ff;
                    }
                }

                .monthly_Div{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    overflow: scroll;
                    p{
                        margin: 0;
                        font-size: 16px;
                        font-family: Open Sans SemiBold;
                    }
                }
            }

            ion-list:nth-child(2){
                margin-top: 20px;
            }

            .per_range{
                padding-left: 0;
                padding-right: 0;
                --knob-background: #00b9ff;
                --knob-border-radius: 25px;
                --knob-size: 15px;
                --bar-background: #fff;
                --bar-background-active: #00b9ff;
            }

            .per_range::part(pin){
                transform: translate3d(0px, 0px, 0px) scale(1);
                color: #fff;
                font-size: 12px;
                font-family: 'Open Sans Regular';
            }
        }

        ion-button{
            margin-top: 5%;
            --background: #00b9ff;
            height: 30px;
            width: 30%;
            min-width: 100px;
            --background-activated: none;

        }

        
    }

}

.avoid_looser_content{
    .arrow_div{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 5px 15px;
        font-size: 40px;
        color: #fff;
    }
    .secDropDown{
        --background: #00b9ff;
    border-radius: 25px;
    --padding-start: 0;
    --padding-end: 5px;
    --padding-top: 0;
    --padding-bottom: 0;
    margin: 10px 15px;
        div{
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            .sec_Detail{
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 90%;
                .medItemSpan{
                    height: 50px;
                    width: 50px;
                    background: #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    margin-right: 5px;
                    p{
                        font-family: Open Sans SemiBold;
                        margin: 0;
                        font-size: 14px;
                        color: #fff;
                    }
                }
                .Sec_Details_Sub{
                    width: 75%;
                    p{
                        margin: 0;
                        font-size: 14px;
                        color: #fff;
                    }
                    p:first-child{
                        font-family: Open Sans Regular;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    p:last-child{
                        font-family: Open Sans SemiBold;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }

            ion-icon{
                height: 40px;
                width: 40px;
                color: #fff;
            }
        }

        
    }

    .mdSlides{
        ion-slide{
            height: calc(100vh - 360px);
        }
    }

    .iosSlides{
        ion-slide{
            height: calc(100vh - 345px);
        }
    }



    ion-slides{
        // ion-slide{
        //     .md{
        //         height: calc(100vh - 360px);
        //     }

        //     .ios{
        //         height: calc(100vh - 345px);
        //     }
            
        // }

        .CompSlide{
            ion-list::-webkit-scrollbar {
                display: none;
              }
            ion-list{
                height: 100%;
                overflow: scroll;
                background: transparent;
                width: 75%;

                

                .compItem{
                    --background: #00b9ff;
                    display: flex;
                    flex-direction: row;
                    font-size: 12px;
                    font-family: Open Sans SemiBold;
                    border-radius: 25px;
                    --padding-start: 0;
                    --padding-top: 0;
                    --padding-end: 0;
                    --padding-bottom: 0;
                    --inner-padding-start: 0;
                    --inner-padding-end: 0;
                    margin-bottom: 10px;
                    p{
                        margin: 0;
                        color: #fff;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }

                    span{
                        height: 45px;
                        width: 45px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50%;
                        background: #fff;
                        margin-right: 10px;
                        border: 2px solid #274b9e;
                        margin-left: -2px;
                    }

                    div{
                        display: flex;
                        flex-direction: column;
                        align-items: unset;
                        width: 80%;
                        
                        p:last-child{
                            font-family: Open Sans SemiBold;
                        }
                    }
                }
            }
        }
    }
}